<div class="header-container">
  <!-- Search Input -->
  <form [formGroup]="form" class="input-container">
    @for (field of inputFields; track field.key) { @if (field.type === 'text') {
    <mat-form-field
      appearance="fill"
      class="search-field"
      subscriptSizing="dynamic">
      <mat-label>{{ field.label }}</mat-label>
      <input
        maxlength="50"
        matInput
        [formControlName]="field.key"
        [placeholder]="field.placeholder || ''" />
      <mat-icon matPrefix>search</mat-icon>
      @if (form.get(field.key)?.value && form.get(field.key)?.value.length > 0)
      {
      <button mat-icon-button matSuffix (click)="onClearSearch(field.key)">
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
    } @if (field.type === 'select') {
    <mat-form-field
      appearance="fill"
      class="select-field"
      [ngClass]="{
        'program-field': field.key === 'program',
        'year-level-field': field.key === 'yearLevel',
        'curriculum-field': field.key === 'curriculum',
        'sections-field': field.key === 'section',
        'academic-year-field': field.key === 'academicYear'
      }"
      subscriptSizing="dynamic">
      <mat-label>{{ field.label }}</mat-label>
      <mat-select [formControlName]="field.key">
        @if (field.key === 'academicYear') {
        <mat-option value="__add__"> Add Academic Year </mat-option>
        } @for (option of field.options; track option.key || option) {
        <mat-option [value]="option.key ?? option">
          {{ option.label ?? option }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
    } }
  </form>

  <!--Objects-->
  @if (showActiveYearAndSem) {
  <div class="object-container">
    <div
      class="active-year-sem-container pop"
      (click)="onActiveYearSemClick()"
      [matTooltip]="'View and set active academic year and semester'"
      matRipple>
      <p class="text">A.Y. {{ activeYear }}, {{ activeSemester }}</p>
      <p class="label">Active Year & Semester</p>
    </div>
  </div>
  }

  <!--Buttons-->
  @if (showButtons) {
  <div class="button-container">
    <!-- Export to PDF Button -->
    @if (showExportButton) {
    <span
      class="tooltip-container"
      [matTooltip]="tooltipMessage"
      [matTooltipDisabled]="!buttonDisabled">
      <button
        mat-flat-button
        class="ter-ripple custom-mat-button export-button"
        (click)="onExport()"
        [disabled]="buttonDisabled"
        [ngClass]="{ 'disabled-button': buttonDisabled }">
        <mat-icon>picture_as_pdf</mat-icon>
        <span>Export to PDF</span>
      </button>
    </span>
    }

    <!-- Add Button -->
    @if (showAddButton) {
    <button
      mat-flat-button
      class="custom-mat-button add-button"
      [disabled]="buttonDisabled"
      [ngClass]="{ 'disabled-button': buttonDisabled }"
      (click)="onAdd()">
      <div class="button-wrapper">
        @if (isLoading) {
        <mat-spinner class="custom-spinner" diameter="25"></mat-spinner>
        } @else {
        <mat-icon>{{ addIconName }}</mat-icon>
        {{ addButtonLabel }}
        }
      </div>
    </button>
    }
  </div>
  }
</div>
