<div class="dialog-action-container">
  <!-- Dialog Action Title -->
  <h2 class="dialog-title">{{ dialogTitle }}</h2>

  <!-- Dialog Content -->
  <div class="dialog-content">
    <!-- Main Action Text -->
    @if (!showReportOptions) {
    <div class="main-text">
      <strong>{{ actionText }}</strong>

      <span>
        {{
          data.type === "all_publish"
            ? "official load and schedule for all active faculty members this"
            : data.type === "single_publish"
            ? "official load and schedule for"
            : "generate and download schedule reports for"
        }}

        {{ data.type.includes("single") ? data.facultyName + " this" : "" }}

        A.Y. {{ data.academicYear }}, {{ data.semester }}.
      </span>
    </div>
    }

    <!-- Seondary Text Section -->
    @if (data.hasSecondaryText) {
    <div class="secondary-text">
      For a more specific view and download of reports, go to the
      <a class="link" [routerLink]="navigationLink" (click)="closeDialog()">
        {{ linkText }}
      </a>
      <span> page.</span>
    </div>
    }

    <!-- Report Options Section -->
    @if (showReportOptions) {
    <div class="main-text">
      This will <strong>print and download</strong> an official copy of the
      schedule reports for this semester. Select at least one from the
      following:
    </div>

    <div class="checkbox-container reports">
      <mat-checkbox [(ngModel)]="reportOptions.faculty" class="report-checkbox">
        <span class="checkbox-content">
          <span mat-symbol="groups"></span>
          <span>Faculty Schedule Report</span>
        </span>
      </mat-checkbox>

      <mat-checkbox
        [(ngModel)]="reportOptions.programs"
        class="report-checkbox"
      >
        <span class="checkbox-content">
          <span mat-symbol="school"></span>
          <span>Programs Schedule Report</span>
        </span>
      </mat-checkbox>

      <mat-checkbox [(ngModel)]="reportOptions.rooms" class="report-checkbox">
        <span class="checkbox-content">
          <span mat-symbol="meeting_room"></span>
          <span>Rooms Schedule Report</span>
        </span>
      </mat-checkbox>
    </div>
    }

    <!-- Email Notification Section -->
    @if (showEmailOption && !data.currentState) {
    <div class="checkbox-container email">
      <mat-checkbox [(ngModel)]="sendEmail" class="email-checkbox">
        <span class="checkbox-content">
          <span mat-symbol="email"></span>
          <span>
            Send email to @if (data.type === 'single_publish') {
            {{ data.facultyName }}
            } @else { all faculty members }
          </span>
        </span>
      </mat-checkbox>
    </div>
    }
  </div>

  <!-- Dialog Buttons -->
  <div class="dialog-buttons">
    <button
      mat-button
      class="close"
      (click)="closeDialog()"
      [disabled]="isProcessing"
    >
      Close
    </button>

    <button
      mat-flat-button
      color="primary"
      class="action-button"
      (click)="confirmAction()"
      [disabled]="
        isProcessing || (data.type === 'reports' && !isReportSelectionValid())
      "
      [ngClass]="{
        'disabled-button':
          isProcessing || (data.type === 'reports' && !isReportSelectionValid())
      }"
    >
      @if (isProcessing) {
      <mat-spinner class="custom-spinner" diameter="25"></mat-spinner>
      } @else { Confirm }
    </button>
  </div>
</div>
