<div class="admin-management-container">
  @if (isLoading) {
  <div class="loading-wrapper">
    <app-loading></app-loading>
  </div>
  } @else {

  <!-- Table Header -->
  <div class="admin-header-container" [@fadeAnimation]>
    <app-table-header
      [searchLabel]="'Search Admins'"
      [addButtonLabel]="'Add Admin'"
      [showExportButton]="false"
      [inputFields]="headerInputFields"
      (inputChange)="onInputChange($event)"
      (add)="openAddAdminDialog()"></app-table-header>
  </div>

  <!-- Admin Management Table -->
  <div class="admin-table-container" [@fadeAnimation]>
    <app-table-generic
      [columns]="columns"
      [data]="filteredAdmins"
      [displayedColumns]="displayedColumns"
      [showViewButton]="false"
      [showDeleteButton]="false"
      (edit)="openEditAdminDialog($event)"></app-table-generic>
  </div>

  }
</div>
