/documents

# Node modules
node_modules/

# Compiled output
dist/
tmp/
out-tsc/
bazel-out/

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.agents
.agent/
.workflows/

# Angular CLI
.angular/
.nx/