@use "../../../../../../../styles/mixins";

.curriculum-detail-container {
  @include mixins.flex-layout(
    $direction: column,
    $align: stretch,
    $justify: flex-start
  );
  height: 100%;
  overflow: hidden;
}

.curriculum-header-container {
  position: sticky;
  top: 0;
  z-index: 3;
}

.curriculum-semesters-container {
  @include mixins.default-transition;
  height: 100%;
  overflow: hidden;
  position: relative;

  .scrollable-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    @include mixins.flex-layout(
      $direction: column,
      $align: stretch,
      $justify: flex-start,
      $gap: var(--spacing-md)
    );
    @include mixins.hide-scrollbar;
  }

  .semester-container {
    @include mixins.flex-layout($direction: column, $align: none, $justify: none);
    @include mixins.hide-scrollbar;
    flex: 1;
    position: relative;
    border-radius: var(--border-radius-md);
  }
}
