<div class="curriculum-detail-container">
  @if (isLoading) {
  <div class="loading-wrapper">
    <app-loading></app-loading>
  </div>
  } @else {
  <!-- Table Header -->
  <div class="curriculum-header-container" [@fadeAnimation]>
    <app-table-header
      [inputFields]="headerInputFields"
      [addButtonLabel]="'Manage Programs'"
      [addIconName]="'apps'"
      [showExportDialog]="true"
      [customExportOptions]="customExportOptions"
      [isLoading]="isManagingPrograms"
      (inputChange)="onInputChange($event)"
      (export)="onExport($event)"
      (add)="onManagePrograms()"
      [selectedValues]="{ program: selectedProgram, yearLevel: selectedYear }"
    ></app-table-header>
  </div>

  <div class="curriculum-semesters-container">
    <div class="scrollable-content">
      @for (semester of selectedSemesters; track semester.semester; let i =
      $index) {
      <div class="semester-container" [@pageFloatUpAnimation]>
        <app-table-generic
          [columns]="columns"
          [data]="semester.courses"
          [tableName]="'course/s'"
          [displayedColumns]="displayedColumns"
          [showTableHeading]="true"
          [tableHeadingTitle]="getSemesterDisplay(semester.semester)"
          [tableHeadingButtonText]="'Add Course'"
          [tableHeadingButtonIcon]="'add'"
          (tableHeadingButtonClick)="onAddCourse(semester)"
          (edit)="onEditCourse($event, semester)"
          (delete)="onDeleteCourse($event)"
        ></app-table-generic>
      </div>
      }
    </div>
  </div>
  }
</div>
