@use "../../../styles/mixins";

.dialog-export-container {
  @include mixins.flex-layout(
    $direction: column,
    $align: stretch,
    $justify: flex-start,
    $gap: var(--spacing-md)
  );
  padding: var(--spacing-lg);
  height: 85vh;
  max-height: 90vh;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.dialog-title {
  @include mixins.reset-styles;
  font-weight: 600;
  color: var(--primary-text);
}

.dialog-subtitle {
  color: var(--primary-text);
}

.dialog-export-pdf-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;

  .export-all,
  .export-single {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
  }
}

.dialog-actions {
  @include mixins.flex-layout($justify: flex-end, $gap: var(--spacing-sm));

  .action-button {
    @include mixins.gradient-primary(315deg);
  }

  button {
    color: var(--primary-text);
  }

  .excel-button {
  background-color: #1d6f42 !important; /* Excel green */
  color: white !important;
  margin-right: 8px;
}
}

.pdf-iframe {
  flex: 1;
  width: 100%;
  height: 100%;
  min-height: 250px;
  border: none;
}