<div class="dialog-export-container">
  @if (isLoading) {
  <div class="loading-wrapper">
    <app-loading></app-loading>
  </div>
  } 
  @else {
  <div class="entity-info" [@fadeAnimation]>
    <h2 class="dialog-title">{{ title }}</h2>
    @if (subtitle) {
    <span class="dialog-subtitle">{{ subtitle }}</span>
    }
  </div>

  <div class="dialog-export-pdf-container" [@fadeAnimation]>
    @if (exportType === 'all') {
    <div class="export-all">
      <iframe #pdfIframe [src]="pdfBlobUrl" class="pdf-iframe"></iframe> 
    </div>
    }
    
    @if (exportType === 'single') {
    <div class="export-single">
      <iframe #pdfIframe [src]="pdfBlobUrl" class="pdf-iframe"></iframe>
    </div>
    }
  </div>

  <div class="dialog-actions" [@fadeAnimation]>
    <button mat-button (click)="closeDialog()">Close</button>
    
    @if (data.generateExcelFunction) {
      <button mat-flat-button class="action-button excel-button" (click)="downloadExcel()">
        <mat-icon>table_chart</mat-icon>
        Download Excel
      </button>
    }

    <button mat-flat-button class="action-button" (click)="downloadPdf()">
      <mat-icon>print</mat-icon>
      Download PDF
    </button>
  </div>
  }
</div>