@use "../../../styles/mixins";

.dialog-export-container {
  @include mixins.flex-layout(
    $direction: column,
    $align: stretch,
    $justify: flex-start,
    $gap: var(--spacing-md)
  );
  padding: var(--spacing-lg);
  height: 100%;
}

.dialog-title {
  @include mixins.reset-styles;
  font-weight: 600;
  color: var(--primary-text);
}

.dialog-subtitle {
  color: var(--primary-text);
}

.dialog-export-pdf-container {
  @include mixins.flex-layout(
    $direction: column,
    $align: stretch,
    $justify: flex-start
  );
}

.dialog-actions {
  @include mixins.flex-layout($justify: flex-end, $gap: var(--spacing-sm));

  .action-button {
    @include mixins.gradient-primary(315deg);
  }

  button {
    color: var(--primary-text);
  }
}
