@use "../../../styles/mixins";

:host {
  .mat-dialog-container {
    max-width: var(--dialog-base);
  }
}

/* Dialog Title */
.custom-dialog-title {
  font-size: var(--font-size-xl);
  color: var(--primary-text);
  font-weight: 500;
  font-family: "Inter Tight", sans-serif;
}

/* Dialog Content */
.custom-dialog-content {
  font-size: var(--font-size-md);
  margin: var(--spacing-md) 0;
  line-height: var(--line-height-md);
  text-align: justify;
}

.custom-dialog-buttons {
  padding-bottom: var(--spacing-lg);

  /* Cancel action button */
  &.custom-dialog-buttons .dialog-cancel {
    color: var(--primary-text);
  }

  /* Proceed action button */
  &.custom-dialog-buttons .dialog-action {
    @include mixins.gradient-primary(315deg);
    color: white;
    font-weight: 500;
  }
}
