@use "../../../styles/mixins";

.table-dialog-container {
  max-width: var(--dialog-base);
  // width: 100%; // Use full width of the dialog
  // max-width: none; // Remove max-width constraint
}

:host {
  @include mixins.custom-spinner(var(--primary-text));
}

.table-dialog-title {
  font-family: "Inter Tight", sans-serif !important;
  color: var(--primary-text) !important;

  span {
    font-weight: 500;
  }
}

.table-dialog-content {
  .academic-year-list {
    @include mixins.flex-layout($direction: column, $gap: var(--spacing-sm));
    width: 100%;
    font-size: var(--font-size-md);

    .academic-year-item {
      @include mixins.flex-layout($justify: space-between);
      width: inherit;

      .delete-acad-item {
        color: var(--primary-text);
        @include mixins.flex-layout;
        cursor: pointer;
      }
    }
  }

  .dialog-form {
    padding: var(--spacing-sm) 0 0 0;

    .form-field {
      width: 100%;
      padding: var(--spacing-xxs) 0;
    }

    .horizontal-field-container {
      @include mixins.flex-layout(
        $align: flex-start,
        $justify: space-between,
        $gap: var(--spacing-sm)
      );
    }

    .checkbox {
      display: block;
      margin-bottom: var(--spacing-md);
    }

    .academic-year-hint {
      cursor: pointer;
      color: var(--primary-text);
    }
  }

  .validation-message {
    // border: 1px solid cyan;

    @include mixins.flex-layout;
    font-size: var(--font-size-sm);
    @include mixins.flex-layout($gap: var(--spacing-xxs));

    mat-icon {
      @include mixins.flex-layout;
      font-size: var(--font-size-md);
    }
  }

  .conflict {
    color: var(--primary-text);
  }

  .no-conflict {
    color: var(--secondary-text);
  }
}

.table-dialog-button {
  .cancel-button {
    color: var(--primary-text) !important;
  }

  padding-bottom: var(--spacing-lg);

  .action-button {
    @include mixins.gradient-primary(315deg);

    &:disabled {
      background: var(--neutral-fade);
      color: var(--neutral-base) !important;
      opacity: var(--opacity-semi-opaque);
    }
  }
}

.config-option {
  mat-icon {
    margin-right: 8px;
    vertical-align: middle;
    font-size: 18px;
    height: 18px;
    width: 18px;
  }
}
