<div class="dialog-change-password-container">
  <!-- Title -->
  <div class="dialog-change-password-title">
    <div class="title-text" id="dialogTitle">
      <span mat-symbol="lock" class="password-icon" aria-hidden="true"> </span>
      <span>Change Password</span>
    </div>
    <p class="title-desc">
      Enter your current password and choose a new password.
    </p>
  </div>

  <!-- Form -->
  <form
    class="dialog-change-password-form"
    [formGroup]="passwordForm"
    (ngSubmit)="onSubmit()">
    <!-- Current Password -->
    <mat-form-field appearance="fill">
      <mat-label>Current Password</mat-label>
      <input
        matInput
        minlength="8"
        maxlength="128"
        [type]="hideCurrentPassword ? 'password' : 'text'"
        formControlName="currentPassword"
        required />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hideCurrentPassword = !hideCurrentPassword">
        <mat-icon>{{
          hideCurrentPassword ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </button>
      @if (passwordForm.get('currentPassword')?.errors?.['required'] &&
      passwordForm.get('currentPassword')?.touched) {
      <mat-error>Current password is required.</mat-error>
      } @if (passwordForm.get('currentPassword')?.errors?.['minlength'] ||
      passwordForm.get('currentPassword')?.errors?.['maxlength']) {
      <mat-error>Current password is invalid.</mat-error>
      } @if (passwordForm.get('currentPassword')?.errors?.['serverError']) {
      <mat-error
        >{{passwordForm.get('currentPassword')?.errors?.['serverError']






        }}.</mat-error
      >
      }
    </mat-form-field>

    <!-- New Password -->
    <mat-form-field appearance="fill">
      <mat-label>New Password</mat-label>
      <input
        matInput
        minlength="8"
        maxlength="128"
        [type]="hideNewPassword ? 'password' : 'text'"
        formControlName="newPassword"
        required />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hideNewPassword = !hideNewPassword">
        <mat-icon>{{
          hideNewPassword ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </button>
      @if (passwordForm.get('newPassword')?.errors?.['required'] &&
      passwordForm.get('newPassword')?.touched) {
      <mat-error>New password is required.</mat-error>
      } @if (passwordForm.get('newPassword')?.errors?.['minlength']) {
      <mat-error>Password must be at least 8 characters.</mat-error>
      } @if (passwordForm.get('newPassword')?.errors?.['maxlength']) {
      <mat-error>Password cannot exceed 128 characters.</mat-error>
      }
    </mat-form-field>

    <!-- Confirm New Password -->
    <mat-form-field appearance="fill">
      <mat-label>Confirm New Password</mat-label>
      <input
        matInput
        minlength="8"
        maxlength="128"
        [type]="hideConfirmPassword ? 'password' : 'text'"
        formControlName="confirmPassword"
        required />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hideConfirmPassword = !hideConfirmPassword">
        <mat-icon>{{
          hideConfirmPassword ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </button>
      @if (passwordForm.get('confirmPassword')?.errors?.['passwordMismatch']) {
      <mat-error>Passwords do not match.</mat-error>
      } @else if (passwordForm.get('confirmPassword')?.errors?.['required'] &&
      passwordForm.get('confirmPassword')?.touched) {
      <mat-error>Password confirmation is required.</mat-error>
      }
    </mat-form-field>

    <!-- Forgot Password Link -->
    <div class="forgot-password-container">
      <a class="forgot-password-link" (click)="onForgotPassword()">
        Forgot Password?
      </a>
    </div>

    <div class="dialog-change-password-actions">
      <!-- Cancel Button -->
      <button
        mat-button
        type="button"
        class="cancel-button"
        [disabled]="isLoading"
        (click)="onCancel()">
        Cancel
      </button>
      <!-- Confirm Button -->
      <button
        mat-flat-button
        class="confirm-button"
        type="submit"
        color="primary"
        [disabled]="!passwordForm.valid || isLoading">
        @if (!isLoading) { Confirm } @else {
        <mat-spinner
          class="custom-spinner"
          diameter="25"
          strokeWidth="2.5"></mat-spinner>
        }
      </button>
    </div>
  </form>
</div>
