@use "../../../../../styles/mixins";

* {
  @include mixins.reset-styles;
}

.faculty-pref-container {
  @include mixins.flex-layout(
    $direction: column,
    $align: stretch,
    $justify: flex-start,
    $gap: var(--spacing-sm)
  );
  height: 100%;
}

.faculty-pref-table-container {
  @include mixins.flex-layout($direction: column, $align: none, $justify: none);
  @include mixins.hide-scrollbar;
  overflow: auto;
  position: relative;
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-level-1);

  .table-container {
    @include mixins.hide-scrollbar;
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-light);
    max-height: 50rem;

    .custom-table {
      @include mixins.default-transition;
      background-color: var(--neutral-light);

      .table-button {
        color: var(--primary-text);
      }

      td {
        border-bottom: 1px solid var(--mat-table-row-item-outline-color);
      }

      tr:last-child td {
        border-bottom: none;
      }
    }

    .index {
      padding: 0 var(--spacing-md);
      text-align: center;
    }

    .scheduled-button {
      border-radius: var(--border-radius-xl);
      padding: var(--spacing-xs) var(--spacing-sm);
      cursor: pointer;

      &.global {
        background-color: #e7d4d4 !important;
        color: var(--primary-one);
        font-weight: 500;
      }

      &.individual {
        background-color: var(--primary-one);
        color: white;
        font-weight: 500;
      }
    }

    .help-request-container {
      @include mixins.flex-layout($gap: var(--spacing-xxs));
      padding-right: var(--spacing-md);

      .help-button {
        left: var(--spacing-4xxl);
        opacity: var(--opacity-semi-opaque);
        font-size: var(--font-size-md);
        cursor: pointer;
      }
    }

    .help-toggle-container {
      @include mixins.flex-layout($gap: var(--spacing-xxs));
      padding-right: var(--spacing-md);
      position: relative;

      .help-button {
        position: absolute;
        right: 0;
        opacity: var(--opacity-semi-opaque);
        font-size: var(--font-size-md);
        cursor: pointer;
      }
    }

    .custom-header {
      text-wrap: nowrap;
      background-color: var(--primary-one);
      color: white;
      font-weight: 500;
      text-align: center;

      position: sticky;
      top: 0;
      z-index: 2;
    }

    .custom-cell {
      padding: var(--spacing-xs);
      text-align: center;

      &.action {
        text-align: center;
      }

      .request-badge {
        width: fit-content;
        padding: var(--spacing-xxs) var(--spacing-sm);
        border-radius: var(--border-radius-xl);
        font-size: var(--font-size-xsx);
        font-weight: 500;
        margin: 0 auto;
        display: inline-block;
        background-color: var(--green-fade);
        color: var(--green-primary);
        text-wrap: nowrap;
      }

      .none-text {
        padding-right: var(--spacing-mdx);
      }

      .disabled-text {
        opacity: 0.5;
        pointer-events: none;
      }

      .view-button {
        color: var(--secondary-text);
        margin-right: var(--spacing-md);

        &:hover {
          background-color: var(--secondary-hover) !important;
        }
      }

      .export-button {
        color: var(--secondary-text);

        &:hover {
          background-color: var(--secondary-hover) !important;
        }
      }
    }

    .no-data-cell {
      text-align: center;
      padding: var(--spacing-lg);

      .flex-cell {
        @include mixins.flex-layout(
          $align: center,
          $justify: center,
          $gap: var(--spacing-xs)
        );

        span {
          opacity: var(--opacity-semi-opaque);
        }
      }
    }
  }
}
