<div class="faculty-pref-container">
  @if (isLoading | async) {
  <div class="loading-wrapper">
    <app-loading></app-loading>
  </div>
  } @else {
  <div class="faculty-pref-header-container" [@fadeAnimation]>
    <app-reports-header
      [(selectedTermId)]="selectedTermId"
      (termChange)="onTermChange($event)"
      [inputFields]="inputFields"
      [showExportButton]="true"
      [showExportByProgramButton]="true" 
      [showAddButton]="false"
      [showActiveYearAndSem]="false"
      [buttonDisabled]="exportButtonsDisabled"
      [tooltipMessage]="exportTooltipMessage"
      (exportByProgram)="onExportByProgram()"
      (export)="onExportAll()"
      (inputChange)="onInputChange($event)">
    </app-reports-header>
  </div>

  @if (isToggleAllChecked) {
  <div class="pref-loaded-note-banner" [@fadeAnimation]>
    <mat-icon class="info-icon">info</mat-icon>
    <div class="note-content">
      <strong>Note:</strong> Previous preferences (from the matching semester
      of the latest academic year) have been automatically loaded for all active 
      faculty members.
    </div>
  </div>
  } @else if (isAnyIndividualToggleOn) {
  <div class="pref-loaded-note-banner" [@fadeAnimation]>
    <mat-icon class="info-icon">info</mat-icon>
    <div class="note-content">
      <strong>Note:</strong> Previous preferences (from the matching semester
      of the latest academic year) have been automatically loaded for selected 
      faculty members.
    </div>
  </div>
  }

  

  <div class="faculty-pref-table-container" [@fadeAnimation]>
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="custom-table">
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef class="custom-header index">
            #
          </th>
          <td mat-cell *matCellDef="let element; let i = index" class="index">
            <span>
              {{
                i +
                  1 +
                  (paginator?.pageIndex || 0) * (paginator?.pageSize || 10)
              }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="facultyName">
          <th mat-header-cell *matHeaderCellDef class="custom-header">
            Faculty Name
          </th>
          <td mat-cell *matCellDef="let element" class="custom-cell max-cell">
            {{ element.facultyName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="facultyCode">
          <th mat-header-cell *matHeaderCellDef class="custom-header">
            Faculty Code
          </th>
          <td mat-cell *matCellDef="let element" class="custom-cell">
            {{ element.facultyCode }}
          </td>
        </ng-container>

        <ng-container matColumnDef="facultyType">
          <th mat-header-cell *matHeaderCellDef class="custom-header">
            Faculty Type
          </th>
          <td mat-cell *matCellDef="let element" class="custom-cell">
            <div
              class="faculty-type"
              [ngClass]="getFacultyTypeClass(element.facultyType)">
              {{ element.facultyType }}
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="custom-header">
            Action
          </th>
          <td mat-cell *matCellDef="let element" class="custom-cell action">
            <span
              [matTooltip]="
                element.is_enabled || isToggleAllChecked
                  ? 'Preferences submission is open; editing disabled'
                  : 'Modify or view preferences for this faculty'
              ">
              <button
                mat-button
                class="view-button sec-ripple"
                (click)="onView(element)"
                [disabled]="element.is_enabled || isToggleAllChecked"
                [ngClass]="{
                  'disabled-button': element.is_enabled || isToggleAllChecked
                }">
                <mat-icon>{{ hasSubmittedPreferences(element) ? 'visibility' : 'edit_square' }}</mat-icon>
                <span>{{ hasSubmittedPreferences(element) ? 'View Preferences' : 'Set Preferences' }}</span>
              </button>
            </span>

            <span
              [matTooltip]="
                element.is_enabled || isToggleAllChecked
                  ? 'Preferences submission is open; download disabled'
                  : !hasSubmittedPreferences(element)
                  ? 'No preferences submitted yet'
                  : ''
              ">
              <button
                mat-button
                class="export-button sec-ripple"
                (click)="onExportSingle(element)"
                [disabled]="
                  element.is_enabled ||
                  isToggleAllChecked ||
                  !hasSubmittedPreferences(element)
                "
                [ngClass]="{
                  'disabled-button':
                    element.is_enabled ||
                    isToggleAllChecked ||
                    !hasSubmittedPreferences(element)
                }">
                <mat-icon>download</mat-icon>
                <span>Download</span>
              </button>
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="requests">
          <th mat-header-cell *matHeaderCellDef class="custom-header">
            <div class="help-request-container">
              <span>Requests</span>
              <span
                mat-symbol="help"
                [fill]="false"
                class="help-button"
                [matTooltip]="
                  'This shows faculty members who have requested access\n
                     to submit their preferences'
                "></span>
            </div>
          </th>
          <td mat-cell *matCellDef="let element" class="custom-cell">
            @if (element.has_request) {
            <div class="request-badge">Requests for access</div>
            } @else {
            <span
              class="none-text"
              [ngClass]="{ 'disabled-text': isToggleAllChecked }"
              >None</span
            >
            }
          </td>
        </ng-container>

        @if (showPreferenceToggleColumn) {
          <ng-container matColumnDef="toggle">
            @if (allData.length) {
            <th mat-header-cell *matHeaderCellDef class="custom-header">
              <div class="help-toggle-container">
                @if (isGloballyScheduled() && !isToggleAllChecked) {
                <button
                  class="scheduled-button global pop"
                  (click)="onToggleAllPreferences($event, true)"
                  [matTooltip]="getTooltip('global')">
                  Scheduled
                </button>
                } @else {
                <mat-slide-toggle
                  class="header-toggle"
                  [checked]="isToggleAllChecked"
                  [disabled]="getToggleState(allData[0]).isGlobalDisabled"
                  [matTooltip]="getTooltip('global')"
                  (change)="onToggleAllPreferences($event)">
                </mat-slide-toggle>
                }
                <span
                  mat-symbol="help"
                  [fill]="false"
                  class="help-button"
                  [matTooltip]="
                    'This button allows you to toggle faculty preferences\n
                     submission and set submission period'
                  "></span>
              </div>
            </th>
            } @else {
            <th mat-header-cell *matHeaderCellDef class="custom-header">
              <div class="help-toggle-container">
                <mat-slide-toggle
                  class="header-toggle"
                  [checked]="false"
                  [disabled]="true"
                  matTooltip="No faculty data available">
                </mat-slide-toggle>
                <span
                  mat-symbol="help"
                  [fill]="false"
                  class="help-button"
                  [matTooltip]="
                    'This button allows you to toggle faculty preferences\n
                     submission and set submission period'
                  "></span>
              </div>
            </th>
            }

            <td mat-cell *matCellDef="let element" class="custom-cell">
              <div class="help-toggle-container">
                @if (isIndividuallyScheduled(element) && !element.is_enabled) {
                <button
                  class="scheduled-button individual pop"
                  (click)="onToggleSinglePreferences(element, $event, true)"
                  [matTooltip]="getTooltip('individual', element)">
                  Scheduled
                </button>
                } @else {
                <mat-slide-toggle
                  class="single-toggle"
                  [checked]="element.is_enabled"
                  [disabled]="getToggleState(element).isIndividualDisabled"
                  [matTooltip]="getTooltip('individual', element)"
                  (change)="onToggleSinglePreferences(element, $event)">
                </mat-slide-toggle>
                }
              </div>
            </td>
          </ng-container>
        }

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr *matNoDataRow>
          <td class="no-data-cell" [attr.colspan]="displayedColumns.length">
            <div class="flex-cell">
              <div class="no-data-text">
                <span mat-symbol="info"></span>
                <span> No faculty found.</span>
              </div>
            </div>
          </td>
        </tr>
      </table>

      <mat-paginator
        class="custom-paginator"
        [length]="filteredData.length"
        [pageSize]="25"
        [pageSizeOptions]="[5, 10, 25, 50, 100]"
        [showFirstLastButtons]="true"
        aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
  }
</div>