<!-- manage-preferences.component.html -->
<div class="faculty-pref-container">
  @if (isLoading | async) {
  <div class="loading-wrapper">
    <app-loading></app-loading>
  </div>
  } @else {
  <!-- Faculty Preferences Header Container -->
  <div class="faculty-pref-header-container" [@fadeAnimation]>
    <app-table-header
      [inputFields]="inputFields"
      [showExportButton]="true"
      [showAddButton]="false"
      [showActiveYearAndSem]="false"
      [buttonDisabled]="
        !hasAnyPreferences || isToggleAllChecked || isAnyIndividualToggleOn
      "
      [tooltipMessage]="
        !hasAnyPreferences
          ? 'No faculty preferences available for export'
          : isToggleAllChecked || isAnyIndividualToggleOn
          ? 'Preferences submission is open; export disabled'
          : ''
      "
      (export)="onExportAll()"
      (inputChange)="onInputChange($event)">
    </app-table-header>
  </div>

  <!-- Faculty Preferences Table -->
  <div class="faculty-pref-table-container" [@fadeAnimation]>
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="custom-table">
        <!-- Index Column -->
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef class="custom-header index">
            #
          </th>
          <td mat-cell *matCellDef="let element; let i = index" class="index">
            <span>
              {{
                i +
                  1 +
                  (paginator?.pageIndex || 0) * (paginator?.pageSize || 10)
              }}
            </span>
          </td>
        </ng-container>

        <!-- Faculty Name Column -->
        <ng-container matColumnDef="facultyName">
          <th mat-header-cell *matHeaderCellDef class="custom-header">
            Faculty Name
          </th>
          <td mat-cell *matCellDef="let element" class="custom-cell max-cell">
            {{ element.facultyName }}
          </td>
        </ng-container>

        <!-- Faculty Code Column -->
        <ng-container matColumnDef="facultyCode">
          <th mat-header-cell *matHeaderCellDef class="custom-header">
            Faculty Code
          </th>
          <td mat-cell *matCellDef="let element" class="custom-cell">
            {{ element.facultyCode }}
          </td>
        </ng-container>

        <!-- Faculty Type Column -->
        <ng-container matColumnDef="facultyType">
          <th mat-header-cell *matHeaderCellDef class="custom-header">
            Faculty Type
          </th>
          <td mat-cell *matCellDef="let element" class="custom-cell">
            <div
              class="faculty-type"
              [ngClass]="getFacultyTypeClass(element.facultyType)">
              {{ element.facultyType }}
            </div>
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="custom-header">
            Action
          </th>
          <td mat-cell *matCellDef="let element" class="custom-cell action">
            <!-- View Preferences Button -->
            <span
              [matTooltip]="
                element.is_enabled || isToggleAllChecked
                  ? 'Preferences submission is open; viewing disabled'
                  : !hasSubmittedPreferences(element)
                  ? 'No preferences submitted yet'
                  : ''
              ">
              <button
                mat-button
                class="view-button sec-ripple"
                (click)="onView(element)"
                [disabled]="
                  element.is_enabled ||
                  isToggleAllChecked ||
                  !hasSubmittedPreferences(element)
                "
                [ngClass]="{
                  'disabled-button':
                    element.is_enabled ||
                    isToggleAllChecked ||
                    !hasSubmittedPreferences(element)
                }">
                <mat-icon>visibility</mat-icon>
                <span>View Preferences</span>
              </button>
            </span>

            <!-- Download Button -->
            <span
              [matTooltip]="
                element.is_enabled || isToggleAllChecked
                  ? 'Preferences submission is open; download disabled'
                  : !hasSubmittedPreferences(element)
                  ? 'No preferences submitted yet'
                  : ''
              ">
              <button
                mat-button
                class="export-button sec-ripple"
                (click)="onExportSingle(element)"
                [disabled]="
                  element.is_enabled ||
                  isToggleAllChecked ||
                  !hasSubmittedPreferences(element)
                "
                [ngClass]="{
                  'disabled-button':
                    element.is_enabled ||
                    isToggleAllChecked ||
                    !hasSubmittedPreferences(element)
                }">
                <mat-icon>download</mat-icon>
                <span>Download</span>
              </button>
            </span>
          </td>
        </ng-container>

        <!-- Requests Column -->
        <ng-container matColumnDef="requests">
          <th mat-header-cell *matHeaderCellDef class="custom-header">
            <div class="help-request-container">
              <span>Requests</span>
              <span
                mat-symbol="help"
                [fill]="false"
                class="help-button"
                [matTooltip]="
                  'This shows faculty members who have requested access\n
                     to submit their preferences'
                "></span>
            </div>
          </th>
          <td mat-cell *matCellDef="let element" class="custom-cell">
            @if (element.has_request) {
            <div class="request-badge">Requests for access</div>
            } @else {
            <span
              class="none-text"
              [ngClass]="{ 'disabled-text': isToggleAllChecked }"
              >None</span
            >
            }
          </td>
        </ng-container>

        <!-- Toggle Column -->
        <ng-container matColumnDef="toggle">
          <!-- Global Toggle -->
          @if (allData.length) {
          <th mat-header-cell *matHeaderCellDef class="custom-header">
            <div class="help-toggle-container">
              <!-- Check if scheduled and not enabled globally -->
              @if (isGloballyScheduled() && !isToggleAllChecked) {
              <button
                class="scheduled-button global pop"
                (click)="onToggleAllPreferences($event, true)"
                [matTooltip]="getTooltip('global')">
                Scheduled
              </button>
              } @else {
              <!-- Existing Toggle -->
              <mat-slide-toggle
                class="header-toggle"
                [checked]="isToggleAllChecked"
                [disabled]="getToggleState(allData[0]).isGlobalDisabled"
                [matTooltip]="getTooltip('global')"
                (change)="onToggleAllPreferences($event)">
              </mat-slide-toggle>
              }
              <span
                mat-symbol="help"
                [fill]="false"
                class="help-button"
                [matTooltip]="
                  'This button allows you to toggle faculty preferences\n
                   submission and set submission period'
                "></span>
            </div>
          </th>
          } @else {
          <th mat-header-cell *matHeaderCellDef class="custom-header">
            <div class="help-toggle-container">
              <mat-slide-toggle
                class="header-toggle"
                [checked]="false"
                [disabled]="true"
                matTooltip="No faculty data available">
              </mat-slide-toggle>
              <span
                mat-symbol="help"
                [fill]="false"
                class="help-button"
                [matTooltip]="
                  'This button allows you to toggle faculty preferences\n
                   submission and set submission period'
                "></span>
            </div>
          </th>
          }

          <!-- Individual Toggle -->
          <td mat-cell *matCellDef="let element" class="custom-cell">
            <div class="help-toggle-container">
              <!-- Check if scheduled and not enabled individually -->
              @if (isIndividuallyScheduled(element) && !element.is_enabled) {
              <button
                class="scheduled-button individual pop"
                (click)="onToggleSinglePreferences(element, $event, true)"
                [matTooltip]="getTooltip('individual', element)">
                Scheduled
              </button>
              } @else {
              <!-- Existing Toggle -->
              <mat-slide-toggle
                class="single-toggle"
                [checked]="element.is_enabled"
                [disabled]="getToggleState(element).isIndividualDisabled"
                [matTooltip]="getTooltip('individual', element)"
                (change)="onToggleSinglePreferences(element, $event)">
              </mat-slide-toggle>
              }
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- No Data Row -->
        <tr *matNoDataRow>
          <td class="no-data-cell" [attr.colspan]="displayedColumns.length">
            <div class="flex-cell">
              <div class="no-data-text">
                <span mat-symbol="info"></span>
                <span> No faculty found.</span>
              </div>
            </div>
          </td>
        </tr>
      </table>

      <!-- Table Paginator -->
      <mat-paginator
        class="custom-paginator"
        [length]="filteredData.length"
        [pageSize]="25"
        [pageSizeOptions]="[5, 10, 25, 50, 100]"
        [showFirstLastButtons]="true"
        aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
  }
</div>
