<div class="image-slideshow">
  @if (isLoading) {
  <div class="slideshow-loader">
    <div class="loader-animation"></div>
  </div>
  } @for (state of imageStates; track state.url) {
  <div
    [class.slideshow-image]="true"
    [class.active]="images.indexOf(state.url) === currentIndex"
    [class.loaded]="state.loaded"
    [style.--image-url]="'url(' + state.url + ')'"
    [attr.aria-hidden]="images.indexOf(state.url) !== currentIndex"
  ></div>
  }

  <div class="indicators">
    @for (state of imageStates; track state.url) {
    <div
      [class.indicator]="true"
      [class.active]="images.indexOf(state.url) === currentIndex"
      [class.loaded]="state.loaded"
      (click)="goToSlide(images.indexOf(state.url))"
      [attr.aria-label]="'Go to slide ' + (images.indexOf(state.url) + 1)"
    ></div>
    }
  </div>
</div>
