@use "../../../styles/mixins";

:host {
  @include mixins.custom-spinner(var(--primary-text));
}

.scheduling-dialog-container {
  @include mixins.flex-layout($align: stretch);

  .title {
    @include mixins.flex-layout(
      $direction: column,
      $justify: flex-start,
      $align: flex-start,
      $gap: var(--spacing-xxs)
    );
    padding: var(--spacing-lg) 0;

    .program-info,
    .course-name {
      font-size: var(--font-size-sm);
      color: var(--primary-text);
    }

    .desc {
      font-size: var(--font-size-sm);
      color: var(--secondary-text);
    }

    .dialog-title {
      @include mixins.flex-layout(
        $justify: flex-start,
        $gap: var(--spacing-xs)
      );
      font-weight: 500;

      &.scheduling {
        margin: 0;
        color: var(--primary-text) !important;
      }

      &.suggested {
        margin: 0;
        color: var(--secondary-text) !important;
      }
    }
  }

  .section {
    padding: 0 var(--spacing-lg);
  }

  .content {
    @include mixins.reset-styles;
  }
}

/* ------ Edit Schedule Section ------ */
.edit-schedule-details {
  flex: 5;
  @include mixins.flex-layout(
    $direction: column,
    $align: stretch,
    $justify: flex-start
  );
  overflow: hidden;

  .content.forms-list {
    @include mixins.flex-layout(
      $direction: column,
      $align: stretch,
      $justify: flex-start,
      $gap: var(--spacing-sm)
    );
    @include mixins.hide-scrollbar;
    width: 100%;

    .scheduling-form-group {
      @include mixins.flex-layout(
        $direction: column,
        $align: stretch,
        $gap: var(--spacing-xs)
      );

      /* ------ Day Picker Styles ------ */
      .day-buttons-container {
        @include mixins.flex-layout(
          $justify: space-between,
          $align: stretch,
          $gap: var(--spacing-sm)
        );
        padding: var(--spacing-xs);
        margin-block-end: var(--spacing-mdx);
        background: var(--neutral-light);
        border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;
        border-bottom: 1px solid var(--neutral-base);

        .day-button {
          @include mixins.flex-layout;
          position: relative;
          z-index: 1;
          width: var(--font-size-md);
          aspect-ratio: 1 / 1;
          padding: var(--spacing-sm);
          margin: 1px;
          font-size: var(--font-size-sm);
          border-radius: 50%;
          border: 1px solid transparent;
          cursor: pointer;
          user-select: none;
          transition: transform 0.2s ease-in-out;
          overflow: hidden;

          &::before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: -1;
            border-radius: 50%;
            @include mixins.gradient-primary(315deg);
            opacity: 0;
            transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
          }

          &:active {
            transform: scale(0.85);
          }

          &.selected {
            color: white;

            &::before {
              opacity: 1;
            }
          }

          &.original-day {
            border-color: var(--primary-text);
            border-style: dashed;
          }

          &:hover:not(.selected) {
            background-color: var(--neutral-fade);
          }
        }
      }

      .date-fields {
        @include mixins.flex-layout($gap: var(--spacing-md));
      }

      /* Icon color when the field is focused */
      .mat-focused .mat-icon {
        color: var(--primary-one);
      }

      /* Icon color when the field is invalid */
      .mat-focused .mat-icon.invalid-icon {
        color: var(--primary-warning);
      }

      /* Maintain the invalid color when the field is touched and invalid */
      .invalid-icon {
        color: var(--primary-warning);
      }
    }
  }

  /* Schedule Validator Styles */
  .schedule-validator {
    @include mixins.flex-layout;

    .validation-message {
      @include mixins.flex-layout($align: center, $gap: var(--spacing-xs));
      padding: var(--spacing-xs);
      border-radius: var(--border-radius-sm);
      width: fit-content;

      &.no-conflict {
        background-color: var(--secondary-fade);
        color: var(--secondary-text);
      }

      &.conflict {
        background-color: var(--primary-fade);
        color: var(--primary-text);
      }
    }
  }

  .scheduling-dialog-actions {
    @include mixins.reset-styles;
    @include mixins.flex-layout($align: stretch, $justify: space-between);
    padding: var(--spacing-lg) 0;
    user-select: none;

    .clear-all-button {
      color: var(--neutral-base);
      font-weight: 500;
      font-size: var(--font-size-sm);
      opacity: var(--opacity-semi-opaque);
      border-radius: var(--border-radius-xl);
      padding: var(--spacing-xs) var(--spacing-sm);
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: var(--neutral-option);
      }
    }

    .button-group {
      .cancel-button {
        color: var(--primary-text) !important;
      }
      .action-button {
        @include mixins.gradient-primary(315deg);

        &:disabled {
          background: var(--neutral-fade);
          color: var(--neutral-base) !important;
          opacity: var(--opacity-semi-opaque);
        }
      }
    }
  }
}

/* ------ Suggested Faculty Section ------ */
.suggested-faculty {
  flex: 3;
  background-color: var(--neutral-extra);

  .content.faculty-list {
    @include mixins.hide-scrollbar;
    margin-bottom: var(--spacing-xl);
    border-radius: var(--border-radius-sm);
    overflow: scroll;

    .no-faculty-message {
      opacity: var(--opacity-semi-opaque);
      font-style: italic;
    }

    .faculty-card-wrapper {
      @include mixins.flex-layout(
        $direction: column,
        $align: stretch,
        $gap: var(--spacing-xxs)
      );
      margin-bottom: var(--spacing-sm);

      .faculty-pref-nav {
        @include mixins.flex-layout(
          $align: center,
          $justify: space-between,
          $gap: var(--spacing-xxs)
        );

        .nav-button-container {
          @include mixins.flex-layout;
        }

        .pref-nav-button {
          @include mixins.flex-layout($align: center);
          border: none;
          outline: none;
          background-color: transparent;
          cursor: pointer;
          padding: 0px;
          border-radius: 50%;

          mat-icon {
            color: var(--neutral-base);
          }

          &:hover:not(:disabled) {
            background-color: var(--neutral-fade);
          }

          &:disabled {
            opacity: var(--opacity-semi-transparent);
            cursor: not-allowed;
          }
        }
      }
    }

    .faculty-card {
      background-color: var(--neutral-extra-dark);
      padding: var(--spacing-xs) var(--spacing-sm);
      border-radius: var(--border-radius-sm);
      cursor: pointer;
      transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1),
        opacity 0.3s ease;
      box-shadow: var(--shadow-level-1);

      &:hover {
        opacity: var(--opacity-semi-opaque);
      }

      &:active {
        transform: translateX(3px) scale(0.98);
      }

      .faculty-type {
        width: fit-content;
        padding: 1px var(--spacing-xs);
        margin: var(--spacing-xxs) 0;
        border-radius: var(--border-radius-md);
        font-size: var(--font-size-xsx);
        font-weight: 500;

        &.full-time {
          background-color: var(--blue-fade-lighter);
          color: var(--blue-primary);
        }

        &.designee {
          background-color: var(--pink-fade-lighter);
          color: var(--pink-primary);
        }

        &.part-time {
          background-color: var(--purple-fade-lighter);
          color: var(--purple-primary);
        }

        &.temporary {
          background-color: var(--aqua-fade-lighter);
          color: var(--aqua-primary);
        }

        /* Fallback theme for any new faculty type */
        &:not(.full-time):not(.designee):not(.part-time):not(.temporary) {
          background-color: var(--neutral-fade);
          color: var(--neutral-base);
        }
      }

      .faculty-name {
        font-weight: 500;
      }

      .faculty-pref {
        opacity: var(--opacity-semi-opaque);
      }
    }
  }
}
