<div class="scheduling-dialog-container">
  <!-- Section 1: Suggested Faculty -->
  <section class="section suggested-faculty">
    <div class="title">
      <h2 class="dialog-title suggested">
        <span mat-symbol="dynamic_form"></span> Suggested
      </h2>
      <span class="desc">Based on faculty preferences</span>
    </div>

    <mat-dialog-content
      class="content faculty-list"
      [@cardEntranceSide]="data.suggestedFaculty.length"
    >
      <!-- Check if suggestedFaculty is empty -->
      @if (data.suggestedFaculty.length === 0) {
      <div class="no-faculty-message">
        No faculty has selected this course as their preference.
      </div>
      } @else {
      <!-- Outer loop for faculty -->
      @for (faculty of data.suggestedFaculty; track faculty.faculty_id) {
      <div class="faculty-card-wrapper">
        <!-- Faculty Pref Navigator -->
        @if (faculty.preferences.length > 1) {
        <div class="faculty-pref-nav">
          <!-- Display current and total preference count -->
          <span class="preference-count">
            {{ faculty.prefIndex + 1 }} of {{ faculty.preferences.length }}
            Preferences
          </span>
          <!-- Navigation arrows -->
          <div class="nav-button-container">
            <button
              class="pref-nav-button"
              (click)="showPreviousFacultyPreference(faculty)"
              [disabled]="faculty.prefIndex === 0"
            >
              <mat-icon>chevron_left</mat-icon>
            </button>
            <button
              class="pref-nav-button"
              (click)="showNextFacultyPreference(faculty)"
              [disabled]="faculty.prefIndex === faculty.preferences.length - 1"
            >
              <mat-icon>chevron_right</mat-icon>
            </button>
          </div>
        </div>
        }

        <!-- Inner loop for preferences (each card) -->
        @if (faculty.preferences[faculty.prefIndex]) {
        <div
          class="faculty-card"
          (click)="
            populateFormWithFacultyPreference(
              faculty,
              faculty.preferences[faculty.prefIndex]
            )
          "
          [class.selected-faculty]="
            selectedFaculty?.faculty_id === faculty.faculty_id &&
            doesPreferenceMatchForm(faculty.preferences[faculty.prefIndex])
          "
          [@cardSwipeAnimation]="faculty.prefIndex"
          matRipple
        >
          <div
            class="faculty-type"
            [ngClass]="getFacultyTypeClass(faculty.type)"
          >
            {{ faculty.type }}
          </div>
          <div class="faculty-name">{{ faculty.name }}</div>
          <div class="faculty-pref">
            {{ faculty.preferences[faculty.prefIndex].day }},
            {{ faculty.preferences[faculty.prefIndex].time }}
          </div>
        </div>
        }
      </div>
      } }
    </mat-dialog-content>
  </section>

  <!-- Section 2: Edit Schedule Details -->
  <section class="section edit-schedule-details">
    <div class="title">
      <h2 class="dialog-title scheduling">Edit Schedule Details</h2>
      <div class="program-info">{{ data.selectedProgramInfo }}</div>
      <div class="course-name">{{ data.selectedCourseInfo }}</div>
    </div>

    <mat-dialog-content class="content forms-list">
      <form [formGroup]="scheduleForm" class="scheduling-form-group">
        <!-- Day Picker -->
        <div class="day-buttons-container">
          @for (day of dayButtons; track day.name) {
          <div
            class="day-button"
            [class.selected]="day.name === selectedDay"
            [class.original-day]="
              day.name === originalDay && day.name !== selectedDay
            "
            (click)="selectDay(day.name)"
            matRipple
            [matRippleColor]="'rgba(255, 255, 255, 0.1)'"
          >
            {{ day.shortName }}
          </div>
          }
        </div>

        <!-- Start and End Time Fields -->
        <div class="date-fields">
          <!-- Start Time Field -->
          <mat-form-field class="scheduling-forms">
            <mat-label>Start Time</mat-label>
            <mat-icon matPrefix>access_time_filled</mat-icon>
            <mat-select formControlName="startTime">
              @for (time of data.options.timeOptions; track time) {
              <mat-option [value]="time">{{ time }}</mat-option>
              }
            </mat-select>
            @if (scheduleForm.get('startTime')?.errors?.['required'] &&
            scheduleForm.touched) {
            <mat-error>Start time is required</mat-error>
            }
          </mat-form-field>

          <!-- End Time Field -->
          <mat-form-field class="scheduling-forms">
            <mat-label>End Time</mat-label>
            <mat-icon matPrefix>access_time_filled</mat-icon>
            <mat-select formControlName="endTime">
              @for (time of data.options.endTimeOptions; track time) {
              <mat-option [value]="time">{{ time }}</mat-option>
              }
            </mat-select>
            @if (scheduleForm.get('endTime')?.errors?.['required'] &&
            scheduleForm.touched) {
            <mat-error>End time is required</mat-error>
            }
          </mat-form-field>
        </div>

        <!-- Professor Field -->
        <mat-form-field class="scheduling-forms">
          <mat-label>Professor</mat-label>
          <mat-icon matPrefix>person</mat-icon>
          <input
            type="text"
            matInput
            formControlName="professor"
            [matAutocomplete]="professorAuto"
          />
          <mat-autocomplete #professorAuto="matAutocomplete">
            @for (professor of filteredProfessors$ | async; track professor.id)
            {
            <mat-option [value]="professor.name">
              {{ professor.name }}
            </mat-option>
            }
          </mat-autocomplete>
          @if (scheduleForm.get('professor')?.hasError('invalidOption')) {
          <mat-error
            >This professor does not exist. Select from the provided
            options.</mat-error
          >
          }
        </mat-form-field>

        <!-- Room Field -->
        <mat-form-field class="scheduling-forms">
          <mat-label>Room</mat-label>
          <mat-icon matPrefix>meeting_room</mat-icon>
          <input
            type="text"
            matInput
            formControlName="room"
            [matAutocomplete]="roomAuto"
          />
          <mat-autocomplete #roomAuto="matAutocomplete">
            @for (room of filteredRooms$ | async; track room) {
            <mat-option [value]="room">
              {{ room }}
            </mat-option>
            }
          </mat-autocomplete>
          @if (scheduleForm.get('room')?.hasError('invalidOption')) {
          <mat-error
            >This room does not exist. Select from the provided
            options.</mat-error
          >
          }
        </mat-form-field>
      </form>

      <!-- Schedule Validator (if applicable) -->
      <div class="schedule-validator">
        @if (conflictMessage) {
        <div class="validation-message conflict">
          <span mat-symbol="error"></span>
          <span>{{ conflictMessage }}</span>
        </div>
        }
      </div>
    </mat-dialog-content>

    <!-- Action Buttons -->
    <mat-dialog-actions class="scheduling-dialog-actions">
      <button
        class="clear-all-button"
        (click)="resetForm()"
        matRipple
        [matRippleColor]="'rgba(134,134,134,0.1)'"
      >
        Clear All
      </button>
      <div class="button-group">
        <button class="cancel-button" mat-button (click)="cancelDialog()">
          Cancel
        </button>
        <button
          class="action-button"
          mat-flat-button
          [disabled]="hasConflicts || isLoading || scheduleForm.invalid"
          (click)="assignValidatedSchedule()"
        >
          @if (isLoading) {
          <mat-spinner [diameter]="25" class="custom-spinner"></mat-spinner>
          } @else { Assign Schedule }
        </button>
      </div>
    </mat-dialog-actions>
  </section>
</div>
