@use "../../../styles/mixins";

.dialog-pref-success-container {
  @include mixins.flex-layout(
    $direction: column,
    $align: stretch,
    $justify: flex-start,
    $gap: var(--spacing-lg)
  );
  padding: var(--spacing-lg);

  .title {
    color: var(--primary-text);
    margin: 0;
    font-size: var(--font-size-xl);
    font-weight: 500;
  }

  .content {
    @include mixins.flex-layout(
      $direction: column,
      $align: stretch,
      $justify: center,
      $gap: var(--spacing-sm)
    );

    .main-text {
      @include mixins.flex-layout($direction: column, $gap: var(--spacing-xs));
      margin-top: var(--spacing-sm);

      span[mat-symbol] {
        font-size: var(--font-size-4xl);
        @include mixins.gradient-primary-text(315deg);

        :host-context(.dark-theme) & {
          -webkit-text-fill-color: var(--primary-text);
          color: var(--primary-text);
        }
      }

      .success-text {
        color: var(--primary-text);
        margin: 0;
        font-size: var(--font-size-lg);
        font-weight: 500;
      }
    }

    .message {
      margin: 0;
      text-align: center;
      line-height: var(--line-height-md);
    }
  }

  .actions {
    @include mixins.flex-layout($align: stretch, $justify: flex-end);

    button {
      color: var(--primary-text);
    }
  }
}
