@use '../../../styles/mixins.scss';

:host {
  @include mixins.flex-layout($direction: column);
  @include mixins.custom-spinner(var(--primary-text));
  height: 100%;
}

.reset-password-container {
  @include mixins.flex-layout($direction: column);
  max-width: max-content;
  max-height: max-content;
  padding: var(--spacing-lg);
  margin: 0 var(--spacing-lg);
  border: 1px solid var(--neutral-border);
  border-radius: var(--border-radius-md);

  .title {
    @include mixins.flex-layout($gap: var(--spacing-xs));
  }

  .title-icon {
    font-size: var(--font-size-xlx);
    color: var(--gradient-light-end);
  }

  h1 {
    @include mixins.gradient-primary-text(315deg);
    font-size: var(--font-size-xl);
    font-weight: 600;
    margin: 0;
  }

  .subtitle {
    margin: 0;
    max-width: var(--dialog-base);
    font-size: var(--font-size-md);
    margin-top: var(--spacing-sm);
    line-height: var(--line-height-sm);
  }
}

.header-section {
  @include mixins.flex-layout($direction: column, $gap: var(--spacing-sm));
  margin-bottom: var(--spacing-2xl);

  .university-logo {
    width: 3.5em;
    height: auto;
  }

  .header-text {
    @include mixins.flex-layout($direction: column);
    text-align: center;
    width: 100%;
    height: 100%;
  }

  .university-name,
  .system-name {
    font-family: var(--font-header);
    font-size: var(--font-size-sm);
    font-weight: 600;
  }

  .university-name {
    color: var(--primary-text);
  }
}

.title-container {
  text-align: center;
  margin-bottom: var(--spacing-lg);
}

.reset-form {
  @include mixins.flex-layout($direction: column, $gap: var(--spacing-md));
  width: 100%;

  mat-form-field {
    width: 100%;

    .prefix-icon {
      color: var(--neutral-base);
    }
  }
}

.actions {
  @include mixins.flex-layout(
    $direction: row,
    $justify: flex-end,
    $gap: var(--spacing-sm)
  );
  width: 100%;
  margin-top: var(--spacing-md);

  .cancel-button,
  .resend-button {
    color: var(--primary-text);
  }

  .send-button {
    @include mixins.gradient-primary(315deg);

    &.disabled {
      background: var(--neutral-fade) !important;
      color: var(--neutral-base) !important;
      opacity: var(--opacity-semi-opaque) !important;
    }
  }
}

.success-container {
  @include mixins.flex-layout($direction: column);
  text-align: center;

  .subtitle {
    .submitted-email {
      font-weight: 600;
    }
  }
}

.info-box {
  @include mixins.flex-layout($gap: var(--spacing-xs));
  padding: var(--spacing-xs) var(--spacing-xxs);
  margin: var(--spacing-lg) 0;
  background: var(--primary-fade);
  border-radius: var(--border-radius-sm);
  max-width: var(--dialog-base);
  color: var(--primary-text);

  .info-icon {
    font-size: var(--font-size-md);
    color: var(--primary-text);
  }

  p {
    margin: 0;
    font-size: var(--font-size-sm);
    color: var(--neutral-text);
  }
}
