@use "../../../styles/mixins";

.dialog-pref-container {
  @include mixins.flex-layout(
    $direction: column,
    $align: stretch,
    $justify: flex-start,
    $gap: var(--spacing-md)
  );
  padding: var(--spacing-lg);
  height: 100%;
}

.faculty-info {
  @include mixins.flex-layout($align: stretch, $justify: space-between);
  color: var(--primary-text);

  .faculty-name {
    font-weight: 600;
    @include mixins.reset-styles;
  }
}

.dialog-pref-table-container {
  @include mixins.flex-layout($direction: column, $align: none, $justify: none);
  @include mixins.hide-scrollbar;
  overflow: scroll;
  position: relative;
  border-radius: var(--border-radius-md);
  max-height: var(--dialog-base-height);
  box-shadow: var(--shadow-level-1);

  .table-container {
    @include mixins.hide-scrollbar;
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-light);

    .custom-table {
      @include mixins.default-transition;
      background-color: var(--neutral-light);

      .table-button {
        color: var(--primary-text);
      }

      .index {
        padding: 0 var(--spacing-md);
        text-align: center;
      }

      .custom-header {
        text-wrap: nowrap;
        background-color: var(--primary-one);
        color: white;
        font-weight: 500;
        text-align: center;

        position: sticky;
        top: 0;
        z-index: 2;
      }

      .custom-cell {
        padding: var(--spacing-xs);
        text-align: center;
        white-space: pre-line;
      }

      .no-data-cell {
        text-align: center;
        padding: var(--spacing-lg);

        .flex-cell {
          @include mixins.flex-layout(
            $align: center,
            $justify: center,
            $gap: var(--spacing-xs)
          );

          span {
            opacity: var(--opacity-semi-opaque);
          }
        }
      }
    }
  }
}

.dialog-pref-pdf-container {
  @include mixins.flex-layout(
    $direction: column,
    $align: stretch,
    $justify: flex-start
  );
  max-height: var(--dialog-base-height);
}

.dialog-actions {
  @include mixins.flex-layout($justify: flex-end, $gap: var(--spacing-sm));
  padding-top: var(--spacing-xs);

  button {
    color: var(--primary-text);
  }
}
