<div class="audit-log-container">
  @if (isLoading) {
    <div class="loading-wrapper">
      <app-loading></app-loading>
    </div>
  } @else {
    <div class="audit-log-table-container" [@fadeAnimation]>
      
      <ng-template #actionBadgeTemplate let-element>
        <span class="action-badge" [ngClass]="element.action_type.toLowerCase()">
          {{ element.action_type | uppercase }}
        </span>
      </ng-template>

      <app-table-generic
        [data]="(logs$ | async) || []"
        [columns]="columns"
        [displayedColumns]="displayedColumns"
        [showViewButton]="true"
        [showEditButton]="false"  
        [showDeleteButton]="false"
        [totalItems]="totalLogs"
        [pageSize]="pageSize"
        
        [pageIndex]="currentPage - 1" [isServerSidePagination]="true" 
        (pageChange)="onPageChange($event)"
        (view)="onViewDetails($event)"> 
      </app-table-generic>
      
    </div>
  }
</div>