<!-- login.component.html -->
<div
  class="login-container"
  [style.--background-image]="currentBackgroundImage">
  <!--Login Image Section-->
  <div class="login-image-section">
    <app-slideshow
      [images]="slideshowImages"
      [interval]="5000"
      (slideChange)="onSlideChange($event)">
    </app-slideshow>
  </div>

  <!--Main Section-->
  <div class="login-main-section">
    <!-- Header Section -->
    <div class="header-section">
      <img
        src="assets/images/pup_taguig_logo.svg"
        alt="University Logo"
        class="university-logo" />
      <div class="header-text">
        <div class="university-name">
          POLYTECHNIC UNIVERSITY OF THE PHILIPPINES
        </div>
        <div class="system-name">FACULTY LOADING & SCHEDULING</div>
      </div>
    </div>

    <!-- Features Section -->
    <div class="features-section">
      <div class="feature-item">
        <div class="feature-header">
          <div class="feature-icon-wrapper">
            <span mat-symbol="edit_calendar"></span>
          </div>
          <h3>Efficient Scheduling</h3>
        </div>
        <div class="feature-content">
          <p>
            Real-time conflict detection and smart automated resolution with
            integrated faculty preferences for seamless scheduling decisions.
          </p>
        </div>
      </div>

      <div class="feature-item">
        <div class="feature-header">
          <div class="feature-icon-wrapper">
            <span mat-symbol="analytics"></span>
          </div>
          <h3>Automated Reports</h3>
        </div>
        <div class="feature-content">
          <p>
            Instantly generate and export detailed comprehensive schedule
            reports for faculty, programs, and rooms with a single click.
          </p>
        </div>
      </div>

      <div class="feature-item">
        <div class="feature-header">
          <div class="feature-icon-wrapper">
            <span mat-symbol="manage_accounts"></span>
          </div>
          <h3>Unified Faculty Portal</h3>
        </div>
        <div class="feature-content">
          <p>
            Submit teaching preferences and access official schedules quickly
            and more efficiently in one unified platform.
          </p>
        </div>
      </div>

      <div class="feature-item extra">
        <div class="feature-header">
          <div class="feature-icon-wrapper">
            <span mat-symbol="database"></span>
          </div>
          <h3>Comprehensive Data Management</h3>
        </div>
        <div class="feature-content">
          <p>
            Seamlessly manage and organize complete curricula, program
            structures, and room resources in one integrated system.
          </p>
        </div>
      </div>
    </div>

    <!-- Buttons Section -->
    <div class="buttons-section">
      <!--Faculty Login-->
      <button
        mat-flat-button
        class="login-button faculty"
        (click)="handleFacultyLogin()">
        <span class="button-text">
          <span mat-symbol="group"></span>
          Faculty Login
        </span>
      </button>

      <!--Admin Login-->
      <button
        mat-flat-button
        class="login-button ter-ripple admin"
        (click)="openAdminLoginDialog()">
        <span class="button-text">
          <span mat-symbol="admin_panel_settings"></span>
          Admin Login
        </span>
      </button>
    </div>

    <!-- Toggle Theme Section -->
    <div class="toggle-theme-section">
      <button
        mat-button
        class="toggle-button"
        [ngClass]="
          (isDarkTheme$ | async) ? 'dark-theme sec-ripple' : 'light-theme'
        "
        (click)="toggleTheme()">
        <mat-icon>
          {{ (isDarkTheme$ | async) ? 'dark_mode' : 'light_mode' }}
        </mat-icon>
        <span> {{ (isDarkTheme$ | async) ? 'Dark' : 'Light' }} Theme </span>
      </button>
    </div>
  </div>
</div>
