@use "../../../../../../styles/mixins";

.curriculum-container {
  @include mixins.default-transition;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  height: 100%;
}

.curriculum-table-container {
  @include mixins.flex-layout($direction: column, $align: none, $justify: none);
  @include mixins.hide-scrollbar;
  flex: 1;
  overflow: auto;
  position: relative;
  border-radius: var(--border-radius-md);
}
