@use '../../../../../../styles/mixins.scss';

:host {
  @include mixins.custom-spinner(var(--primary-text));
}

.logos-container {
  @include mixins.flex-layout($align: stretch);
  height: 100%;
}

.logos-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--spacing-md);
  margin: 0 auto;
  width: 100%;
  max-height: 50dvh;
}

.logo-card {
  @include mixins.flex-layout(
    $direction: column,
    $align: stretch,
    $justify: space-between,
    $gap: var(--spacing-sm)
  );
  @include mixins.default-transition;
  height: 100%;
  width: 100%;
  background-color: var(--neutral-light);

  .logo-title,
  .logo-subtitle {
    font-family: var(--font-base);
  }

  .logo-title {
    @include mixins.flex-layout($justify: flex-start, $gap: var(--spacing-xs));
    color: var(--primary-text);
    font-weight: 500;

    span[mat-symbol] {
      font-size: var(--font-size-lg);
    }
  }

  .logo-subtitle {
    font-weight: 400;
  }
}

.logo-content {
  height: 100%;

  /* Loading state */
  .loading-state {
    @include mixins.flex-layout($direction: column, $gap: var(--spacing-sm));
    min-height: 10rem;
    height: 100%;
  }

  /* No logo */
  .no-logo {
    @include mixins.flex-layout($direction: column, $gap: var(--spacing-sm));
    min-height: 10rem;
    height: 100%;
    background: var(--neutral-extra);
    border-radius: var(--border-radius-md);

    .no-logo-text {
      margin: 0;
    }
  }

  /* Logo preview */
  .logo-preview {
    margin: var(--spacing-md) 0;
    text-align: center;

    img {
      max-width: 100%;
      max-height: 10rem;
      object-fit: contain;
    }
  }
}

.logo-actions {
  @include mixins.flex-layout($justify: flex-end);
  margin: var(--spacing-xs);

  button {
    @include mixins.flex-layout($justify: center);
    color: var(--primary-text);
  }
}
