<div class="dialog-redirect-container">
  <div class="content">
    <div class="spinner-container">
      <app-custom-spinner
        [size]="50"
        color="var(--primary-lighter)"
        type="cube-grid"
      ></app-custom-spinner>
    </div>

    <!-- Outer container that holds the text -->
    <div class="text-outer-container">
      <!-- This inner container to animate. -->
      <div class="text-inner-container" [@slideText]="currentTextState">
        <div class="text-panel">
          <span mat-symbol="wifi_tethering"></span>
          Connecting to PUP-FESR...
        </div>
        <div class="text-panel">
          <span mat-symbol="conversion_path"></span>
          Redirecting you to PUP-FESR...
        </div>
      </div>
    </div>
  </div>
</div>
