@use "../../../../../styles/mixins";

* {
  @include mixins.reset-styles;
}

.academic-year-container {
  @include mixins.default-transition;
  @include mixins.flex-layout(
    $direction: column,
    $align: none,
    $justify: none,
    $gap: var(--spacing-md)
  );
  height: 100%;
}

.academic-year-table-container {
  @include mixins.flex-layout($direction: column, $align: none, $justify: none);
  @include mixins.hide-scrollbar;
  overflow: auto;
  position: relative;
  border-radius: var(--border-radius-md);

  .table-container {
    @include mixins.hide-scrollbar;
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-light);
    max-height: 50rem;

    .custom-table {
      @include mixins.default-transition;
      background-color: var(--neutral-light);

      .table-button {
        color: var(--primary-text);
      }

      td {
        border-bottom: 1px solid var(--mat-table-row-item-outline-color);
      }

      tr:last-child td {
        border-bottom: none;
      }
    }

    .index {
      padding: 0 var(--spacing-md);
    }

    .custom-header {
      text-wrap: nowrap;
      background-color: var(--primary-one);
      color: white;
      font-weight: 500;
      text-align: center;

      position: sticky;
      top: 0;
      z-index: 2;
    }

    .custom-cell {
      padding: var(--spacing-sm);
      text-align: center;

      .edit-button {
        color: var(--secondary-text);

        &:hover {
          background-color: var(--secondary-hover);
        }
      }

      .remove-button {
        color: var(--primary-text);

        &:hover {
          background-color: var(--primary-hover);
        }
      }
    }

    .no-data-cell {
      text-align: center;
      padding: var(--spacing-lg);

      .flex-cell {
        @include mixins.flex-layout(
          $align: center,
          $justify: center,
          $gap: var(--spacing-xs)
        );

        span {
          opacity: var(--opacity-semi-opaque);
        }
      }
    }
  }
}
