@use '../../../styles/mixins';
@use '../../../styles/breakpoints' as bp;

:host {
  @include mixins.custom-spinner($color: white);
}

.header-container {
  @include mixins.flex-layout($align: center, $justify: space-between, $gap: var(--spacing-sm));
  flex-wrap: nowrap; // Prevent wrapping of the main header parts if possible
  @include mixins.default-transition;
  padding-bottom: var(--spacing-sm);

  .input-container {
    @include mixins.flex-layout($gap: var(--spacing-sm));
    flex-wrap: nowrap;
    flex: 1 1 auto;
    margin-bottom: 0;

    mat-form-field {
      min-width: 80px;
    }

    .search-field {
      width: auto;
      flex: 1;
    }

    .program-field {
      max-width: 25rem;
      width: auto;
      flex: 1.2;
    }

    .year-level-field {
      width: 140px;
      flex: 0 0 auto;
    }

    .sections-field {
      width: 140px;
      flex: 0 0 auto;

      mat-icon {
        cursor: pointer;
      }
    }

    .curriculum-field {
      width: auto;
      flex: 1;
    }

    .academic-year-field {
      flex: 1;
    }

    .category-field {
      width: auto;
      flex: 0.9;
    }
  }

  .header-actions {
    @include mixins.flex-layout($align: center, $justify: flex-end, $gap: var(--spacing-sm));
    flex-wrap: nowrap;
    flex: 0 0 auto;

    .button-container {
      @include mixins.flex-layout($align: center, $justify: center, $gap: var(--spacing-md));
      flex: 0 0 auto;
    }

    .object-container {
      @include mixins.flex-layout($align: center);
      flex: 0 0 auto;

      .active-year-sem-container,
      .faculty-view-container {
        @include mixins.flex-layout(
          $direction: column,
          $align: flex-start,
          $justify: center,
          $gap: var(--spacing-xxs)
        );

        padding: var(--spacing-sm) var(--spacing-md);
        border-radius: var(--border-radius-md);
        color: white;
        cursor: pointer;

        .text,
        .label {
          @include mixins.reset-styles;
        }

        .text {
          font-weight: 500;
          @include mixins.flex-layout($align: center, $gap: var(--spacing-xs));
          
          .lock-icon {
            font-size: 16px;
            width: 16px;
            height: 16px;
          }
        }

        .label {
          opacity: var(--opacity-semi-opaque);
        }
      }

      .active-year-sem-container {
        @include mixins.gradient-primary(315deg);

        &.read-only {
          cursor: default;
        }
      }

      .faculty-view-container {
        @include mixins.gradient-secondary(315deg);
      }
    }
  }

  .tooltip-container {
    width: auto;
  }

  .custom-mat-button {
    color: white;
    width: auto;
    padding: 0 var(--spacing-md);
  }

  .add-button {
    background-color: var(--primary-one);
    min-width: 140px;
  }

  .button-wrapper {
    @include mixins.flex-layout($gap: var(--spacing-xxs), $align: center);

    mat-icon {
      font-size: var(--font-size-lg);
    }
  }

  .export-button {
    background-color: var(--neutral-button);

    span {
      text-wrap: nowrap;
    }
  }
}

// ==============
// MEDIA QUERIES
// ==============

@media screen and (max-width: bp.$breakpoint-lgx) {
  .header-container {
    @include mixins.flex-layout(
      $direction: row,
      $align: center,
      $justify: space-between,
      $gap: var(--spacing-md)
    );
    flex-wrap: wrap;
  }

  .header-container .object-container {
    @include mixins.flex-layout(
      $direction: row,
      $align: center,
      $justify: flex-end,
      $gap: var(--spacing-md)
    );

    .active-year-sem-container {
      padding: var(--spacing-sm) !important;
    }
  }

  .header-container .button-container {
    @include mixins.flex-layout(
      $align: center,
      $justify: center,
      $gap: var(--spacing-md)
    );
  }
}
