@use '@angular/material' as mat;
@use 'styles/m3-theme' as m3-theme;
@use 'styles/theme';
@use 'styles/mixins';
@use 'styles/fonts';

@include mat.elevation-classes();
@include mat.app-background();

:root {
  // Typography
  --font-base: 'Inter Tight', 'Helvetica Neue', sans-serif;
  --font-header: 'Trajan Pro', serif;

  // Font Sizes
  --font-size-tiny: 0.4rem;
  --font-size-xs: 0.65rem;
  --font-size-xsx: 0.8rem;
  --font-size-sm: 0.875rem;
  --font-size-smx: 0.925rem;
  --font-size-md: 1rem;
  --font-size-mdx: 1.1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xlx: 1.75rem;
  --font-size-2xl: 2rem;
  --font-size-2xxl: 2.5rem;
  --font-size-3xl: 3rem;
  --font-size-3xxl: 3.5rem;
  --font-size-4xl: 4rem;
  --font-size-5xl: 5rem;

  // Line Heights
  --line-height-sm: 1.25;
  --line-height-md: 1.5;
  --line-height-mdx: 1.6;
  --line-height-lg: 1.75;

  // Letter Spacing
  --letter-spacing-xxs: 0.15px;
  --letter-spacing-xs: 0.25px;
  --letter-spacing-sm: 0.5px;
  --letter-spacing-md: 1px;
  --letter-spacing-lg: 1.5px;

  // Spacing
  --spacing-xxxs: 0.1rem;
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-smx: 0.85rem;
  --spacing-md: 1rem;
  --spacing-mdx: 1.25rem;
  --spacing-lg: 1.5rem;
  --spacing-lgx: 1.75rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 2.5rem;
  --spacing-3xl: 3rem;
  --spacing-4xl: 4rem;
  --spacing-4xxl: 4.5rem;
  --spacing-5xl: 5rem;
  --spacing-5xxl: 5.5rem;

  // Border Radius
  --border-radius-base: 0.25rem;
  --border-radius-xs: 0.3rem;
  --border-radius-xsx: 0.4rem;
  --border-radius-sm: 0.5rem;
  --border-radius-md: 0.75rem;
  --border-radius-lg: 1rem;
  --border-radius-xl: 2rem;

  // Box Shadow
  --shadow-level-0: 0 0 5px rgba(0, 0, 0, 0.05);
  --shadow-level-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
  --shadow-level-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --shadow-level-3: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  --shadow-level-4: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  --shadow-level-5: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);

  // Opacity
  --opacity-transparent: 0;
  --opacity-semi-transparent: 0.25;
  --opacity-half: 0.5;
  --opacity-semi-opaque: 0.75;
  --opacity-opaque: 1;

  // Transitions Duration
  --duration-instant: 0.1s;
  --duration-short: 0.2s;
  --duration-medium: 0.3s;
  --duration-long: 0.5s;
  --duration-extra-long: 0.7s;

  // Dialog Sizes
  --dialog-xs: 15rem;
  --dialog-small: 20rem;
  --dialog-smx: 21rem;
  --dialog-base: 25rem;
  --dialog-medium: 30rem;
  --dialog-base-height: 50vh;

  @include m3-theme.all-component-themes(m3-theme.$light-theme);

  // Colors
  @each $name, $palette in m3-theme.$m3-palettes {
    @each $shade, $value in $palette {
      & {
        --m3-#{$name}-#{$shade}: #{$value};
      }
    }
  }
}

.dark-theme {
  @include mat.all-component-colors(m3-theme.$dark-theme);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--main-bg);
  color: var(--neutral-base);
  transition: background-color 0.3s ease;
}

* {
  -webkit-tap-highlight-color: transparent;
  font-family: var(--font-base);
  @include mixins.custom-scrollbar;
}

/* Custom Styling applied globally */

.disabled-button {
  opacity: var(--opacity-half);
  cursor: not-allowed !important;
}

.no-data-text {
  @include mixins.flex-layout($gap: var(--spacing-xs));
  width: 100%;
  text-align: center;
  font-size: var(--font-size-md);
  padding: var(--spacing-xs) 0;

  span {
    opacity: var(--opacity-semi-opaque);
  }

  span[mat-symbol] {
    font-size: 100%;
  }
}

.pdf-iframe {
  width: 100%;
  height: var(--dialog-base-height);
  border: none;
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-level-1);
}

.view-option {
  @include mixins.flex-layout($align: flex-end);

  .mat-button-toggle {
    @include mixins.flex-layout();
  }

  .icon-spacing {
    margin-top: var(--spacing-xxxs);
    margin-right: var(--spacing-xxs);
    font-size: var(--font-size-lg);
  }
}

.pop {
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &:active {
    transform: scale(0.96);
  }
}

.pop-small {
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &:active {
    transform: scale(0.85);
  }
}

.sec-ripple .mat-ripple-element {
  background-color: var(--secondary-fade) !important;
}

.sec-ripple {
  &.mat-mdc-button .mat-mdc-button-persistent-ripple::before {
    background-color: rgba(93, 71, 0, 0.78) !important;
  }
}

.ter-ripple .mat-ripple-element {
  background-color: rgba(84, 84, 84, 0.3) !important;
}

.ter-ripple {
  &.mat-mdc-unelevated-button .mat-mdc-button-persistent-ripple::before {
    background-color: rgb(0, 0, 0) !important;
  }
}

span[mat-symbol] {
  font-family: 'Material Symbols Rounded' !important;
  user-select: none;
}

.loading-wrapper {
  height: 100%;
  width: 40vw;
  align-self: center;

  @media screen and (max-width: 675px) {
    width: 70vw;
  }
}

.dialog-base {
  width: var(--dialog-small);
}

.custom-cell {
  padding: var(--spacing-xs);
  text-align: center;

  &.max-cell {
    max-width: 20rem;
  }

  .faculty-type {
    width: fit-content;
    padding: var(--spacing-xxs) var(--spacing-sm);
    border-radius: var(--border-radius-xl);
    font-size: var(--font-size-xsx);
    margin: 0 auto;
    display: inline-block;

    &.full-time {
      background-color: var(--blue-fade-lighter);
      color: var(--blue-primary);
    }

    &.designee {
      background-color: var(--pink-fade-lighter);
      color: var(--pink-primary);
    }

    &.part-time {
      background-color: var(--purple-fade-lighter);
      color: var(--purple-primary);
    }

    &.temporary {
      background-color: var(--aqua-fade-lighter);
      color: var(--aqua-primary);
    }

    /* Fallback theme for any new faculty type */
    &:not(.full-time):not(.designee):not(.part-time):not(.temporary) {
      background-color: var(--neutral-fade);
      color: var(--neutral-base);
    }
  }
}

.custom-paginator {
  @include mixins.default-transition;
  padding: var(--spacing-sm) 0 !important;
  background-color: var(--neutral-light) !important;
}

.add-academic-year-dialog {
  .mat-mdc-dialog-container .mat-mdc-dialog-title + .mat-mdc-dialog-content {
    padding-bottom: var(--spacing-sm);
  }
}

.cdk-overlay-dark-backdrop {
  backdrop-filter: blur(5px) brightness(0.5);
  -webkit-backdrop-filter: blur(5px) brightness(0.5);
  will-change: backdrop-filter;
}

// .mat-mdc-header-cell {
//   border-bottom-color: transparent !important;
// }

.header-toggle {
  .mdc-switch--selected .mdc-switch__track::after {
    background-color: rgb(231, 212, 212) !important;
  }

  .mdc-switch--selected:enabled .mdc-switch__handle::after {
    background-color: var(--primary-one) !important;
  }

  .mdc-switch--selected .mdc-switch__icon {
    fill: white !important;
  }
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  @include mixins.default-transition;
}

.mdc-checkbox__checkmark {
  color: white !important;
}

.mat-calendar-body-selected {
  color: white !important;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected):not(
    .mat-calendar-body-comparison-identical
  ) {
  border-color: var(--primary-text) !important;
}

.mdc-text-field--filled {
  // when appearance="fill"
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.no-subscript .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.mdc-list-item__primary-text {
  font-family: var(--font-base) !important;
}

.mat-mdc-menu-item-text {
  font-family: var(--font-base) !important;
}

.mat-horizontal-content-container {
  overflow: hidden;
  padding: 0 !important;
}

.mat-step-icon-selected {
  color: white !important;
}

.mat-step-icon .mat-icon {
  color: white !important;
}

.mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
.mat-button-toggle-group-appearance-standard {
  border: 1px solid
    var(--mat-standard-button-toggle-divider-color, var(--mat-app-outline)) !important;
}

.mat-mdc-snack-bar-container
  .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
  color: var(--primary-text-reverse) !important;
}

.mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background {
  border-color: var(--primary-text) !important;
  background-color: var(--primary-text) !important;
}

[mat-flat-button] {
  color: white !important;
}

.mat-pseudo-checkbox-full.mat-pseudo-checkbox-checked::after,
.mat-pseudo-checkbox-full.mat-pseudo-checkbox-indeterminate::after {
  color: white !important;
}

.mat-bottom-sheet-container {
  min-width: 25vw !important;
}

.export-pdf-fab {
  &.mat-mdc-extended-fab {
    padding-left: 0 !important;
    padding-right: 0 !important;
    @include mixins.flex-layout($gap: var(--spacing-xs));
  }

  &.mat-mdc-extended-fab > .mat-icon,
  &.mat-mdc-extended-fab > .material-icons {
    margin-left: 0 !important;
    margin-right: 0 !important;

    // border: 2px solid yellow;
  }
}

/* Full Calendar Styling */

// Increase border radius on table's buttons
.fc .fc-button {
  border-top-left-radius: var(--border-radius-xl);
  border-bottom-left-radius: var(--border-radius-xl);
  border-top-right-radius: var(--border-radius-xl);
  border-bottom-right-radius: var(--border-radius-xl);

  padding: var(--spacing-xs) var(--spacing-md);
}

// Remove shadow from table's buttons when focused
.fc .fc-button:not(:disabled) {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0rem !important;
}

// Make text white for active buttons
.fc .fc-button-primary:not(:disabled).fc-button-active {
  color: white;
}

// Customize calendar month title
.fc-toolbar-title {
  @include mixins.gradient-primary-text(315deg);
  font-weight: 600;
}

// Increase border radius on table
.fc-scrollgrid {
  border-radius: var(--border-radius-md);
  background-color: var(--neutral-space);
}

.fc-daygrid-event-dot {
  border: calc(var(--fc-daygrid-event-dot-width) / 2) solid var(--primary-text);
}

.fc .fc-highlight {
  background: var(--neutral-fade);
}

.fc .fc-scrollgrid-liquid {
  @include mixins.default-transition;
}

.fc-scroller-liquid-absolute {
  @include mixins.hide-scrollbar;
}

.fc-v-event {
  background-color: var(--primary-one);
  border: none;
}

.fc {
  --fc-border-color: var(--neutral-option);
  --fc-button-text-color: var(--neutral-base);
  --fc-button-bg-color: transparent;
  --fc-button-border-color: transparent;
  --fc-button-hover-bg-color: #a7a7a78d;
  --fc-button-hover-border-color: transparent;
  --fc-button-active-bg-color: var(--primary-one);
  --fc-button-bg-color: var(--neutral-mid);
  --fc-button-active-border-color: transparent;

  --fc-today-bg-color: var(--primary-one-fade);
}

.fc-theme-standard .fc-popover {
  background-color: var(--neutral-light);
}

@media screen and (max-width: 675px) {
  .fc .fc-toolbar {
    @include mixins.flex-layout(
      $align: stretch,
      $justify: center,
      $direction: column,
      $gap: var(--spacing-sm)
    );
  }

  .fc-toolbar-chunk {
    @include mixins.flex-layout($align: center, $justify: center);
  }

  .fc .fc-button-group {
    width: 100%;
  }

  .fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
    width: 100%;
  }
}
