@use '../../../../../styles/mixins';

.management-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  height: 100%;
}

.table-container {
  @include mixins.flex-layout(
    $direction: column,
    $align: none,
    $justify: none
  );
  @include mixins.hide-scrollbar;
  flex: 1;
  overflow: auto;
  position: relative;
  border-radius: var(--border-radius-md);
}

.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}