@use "../../../styles/mixins";

.dialog-pref-section-container {
  @include mixins.flex-layout(
    $direction: column,
    $align: stretch,
    $justify: flex-start,
    $gap: var(--spacing-md)
  );
  padding: var(--spacing-lg);
  height: 100%;

  mat-button-toggle-group {
    width: fit-content;
  }

  .dialog-actions {
    margin-top:16px;
    display:flex;
    gap:8px;
    justify-content:flex-end;
  }
}