@use "../../../../../styles/mixins";

.reports-main {
  height: 100%;
  @include mixins.flex-layout(
    $direction: column,
    $align: stretch,
    $justify: flex-start,
    $gap: var(--spacing-md)
  );
}

.reports-content {
  height: inherit;

  .report-container {
    @include mixins.flex-layout(
      $direction: column,
      $align: stretch,
      $justify: flex-start,
      $gap: var(--spacing-sm)
    );
    height: 100%;
  }

  .report-table-container {
    @include mixins.flex-layout(
      $direction: column,
      $align: stretch,
      $justify: flex-start
    );
    @include mixins.hide-scrollbar;
    overflow: auto;
    position: relative;
    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow-level-1);
    max-height: 57vh;

    .table-container {
      @include mixins.hide-scrollbar;
      display: flex;
      flex-direction: column;
      background-color: var(--neutral-light);

      .custom-table {
        @include mixins.default-transition;
        background-color: var(--neutral-light);

        .table-button {
          color: var(--primary-text);
        }
      }

      .index {
        padding: 0 var(--spacing-md);
        text-align: center;
      }

      .helper-container {
        @include mixins.flex-layout($gap: var(--spacing-xxs));

        .help-button {
          opacity: var(--opacity-semi-opaque);
          font-size: var(--font-size-md);
          cursor: pointer;
        }

        .single-toggle {
          padding-right: var(--spacing-mdx);
        }
      }

      .custom-header {
        text-wrap: nowrap;
        background-color: var(--primary-one);
        color: white;
        font-weight: 500;
        text-align: center;

        position: sticky;
        top: 0;
        z-index: 2;
      }

      .custom-cell {
        padding: var(--spacing-xs);
        text-align: center;

        &.action {
          text-align: center;
        }

        .prim-button {
          color: var(--primary-text);
        }

        .view-button {
          color: var(--secondary-text);
          margin-right: var(--spacing-md);

          &:hover {
            background-color: var(--secondary-hover) !important;
          }
        }

        .export-button {
          color: var(--secondary-text);

          &:hover {
            background-color: var(--secondary-hover) !important;
          }
        }
      }

      .no-data-cell {
        text-align: center;
        padding: var(--spacing-lg);

        .flex-cell {
          @include mixins.flex-layout(
            $align: center,
            $justify: center,
            $gap: var(--spacing-xs)
          );

          span {
            opacity: var(--opacity-semi-opaque);
          }
        }
      }
    }
  }
}

.reports-tab {
  .tab-label {
    @include mixins.flex-layout($gap: var(--spacing-xs));
  }
}
