@use '../../../../../styles/mixins';
@use '../../../../../styles/breakpoints.scss' as bp;

* {
  @include mixins.reset-styles;
}

.sidenav-container {
  @include mixins.flex-layout(
    $direction: column,
    $align: stretch,
    $justify: center
  );
  height: 100%;
  background-color: var(--admin-bg);
  @include mixins.default-transition;
}

.sidenav {
  width: fit-content;
  background-color: transparent;
  padding: var(--spacing-md);
  user-select: none;

  &.sidenav-mobile {
    background-color: var(--admin-bg);
  }

  .side-toolbar {
    @include mixins.flex-layout($direction: column, $gap: var(--spacing-md));
    padding: var(--spacing-lg) var(--spacing-md);

    img {
      width: 40%;
    }

    .header-name {
      @include mixins.flex-layout($direction: column);
      text-align: center;
      line-height: var(--line-height-mdx);

      .university-name,
      .system-name {
        font-family: var(--font-header);
        font-size: var(--font-size-sm);
        font-weight: 600;
      }

      .university-name {
        color: var(--primary-text);
      }
    }
  }

  .navbar-list {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: calc(100% - 15rem);

    .navbar-group-one {
      @include mixins.flex-layout(
        $direction: column,
        $align: stretch,
        $justify: none,
        $gap: var(--spacing-xs)
      );
      padding-right: 3px;

      .list-item {
        transition: transform var(--duration-medium) ease;

        &:hover {
          transform: translateX(3px);
        }
      }

      .active-link {
        background-color: var(--primary-one);
        transition: background-color var(--duration-long) ease,
          transform var(--duration-medium) ease;

        span {
          color: white;
        }

        &:hover {
          transform: translateX(3px);
        }
      }

      .mdc-list-item.mdc-list-item--activated {
        &:focus,
        &:focus-visible,
        &::before,
        &::after {
          background-color: var(--primary-one);
        }
      }
    }

    .navbar-group-two {
      padding-top: var(--spacing-sm);
      border-top: 1px solid var(--neutral-option);

      .mobile-admin-account {
        @include mixins.flex-layout(
          $direction: row,
          $align: center,
          $justify: flex-start,
          $gap: var(--spacing-xs)
        );
        font-size: var(--font-size-smx);

        background-color: var(--neutral-option);
        border-radius: var(--border-radius-xl);
        padding: 6px 12px 6px 7px;
        margin: var(--spacing-xs);

        .account-text {
          text-align: left;
          line-height: var(--line-height-sm);

          .account-name {
            font-weight: 500;
          }

          .account-role {
            opacity: var(--opacity-semi-opaque);
          }
        }

        .profile-dropdown {
          @include mixins.flex-layout;

          .profile-icon {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            user-select: none;
          }
        }
      }

      .list-item {
        span {
          &.light-icon {
            color: var(--primary-one) !important;
          }

          &.dark-icon {
            color: var(--secondary-text) !important;
          }
        }
      }
    }
  }
}

.sidenav-content {
  @include mixins.flex-layout($direction: column, $gap: var(--spacing-md));
  min-height: 100%;
  padding: var(--spacing-lg);
  box-sizing: border-box;

  // Toolbar
  .main-toolbar {
    position: sticky;
    top: 0;
    z-index: 3;
    background: none;
    padding: 0;

    .toggle-button-container {
      padding-right: var(--spacing-xxs);
      .toggle-button {
        @include mixins.flex-layout;
        color: var(--gradient-light-end);
      }
    }

    .sidenav-header {
      @include mixins.flex-layout($align: stretch, $justify: space-between);
      height: 100%;
      width: inherit;

      .title-container .page-title {
        @include mixins.flex-layout;
        @include mixins.gradient-primary-text($degree: 315deg);
        height: 100%;
        width: max-content;
        font-size: var(--font-size-2xxl);
        font-weight: 600;
      }

      .admin-panel {
        @include mixins.flex-layout($align: stretch, $gap: var(--spacing-sm));

        .admin-settings {
          @include mixins.flex-layout($gap: var(--spacing-sm));

          .panel-button {
            @include mixins.flex-layout;
            background-color: var(--neutral-option);
            border-radius: 50%;
            padding: var(--spacing-smx);
            cursor: pointer;

            .light-icon {
              color: var(--primary-one);
              user-select: none;
            }

            .dark-icon {
              color: var(--secondary-text);
              user-select: none;
            }
          }

          mat-icon {
            color: var(--neutral-base);
          }
        }

        .admin-account {
          @include mixins.flex-layout(
            $direction: row-reverse,
            $gap: var(--spacing-sm)
          );
          font-size: var(--font-size-smx);
          background-color: var(--neutral-option);
          border-radius: var(--border-radius-xl);
          padding: 0 var(--spacing-md) 0 var(--spacing-xs);
          margin: 6px 0;

          .account-text {
            text-align: left;
            line-height: var(--line-height-sm);

            .account-name {
              font-weight: 500;
            }

            .account-role {
              opacity: var(--opacity-semi-opaque);
            }
          }

          .profile-dropdown {
            @include mixins.flex-layout;
            position: relative;

            .profile-icon {
              width: 2.5rem;
              height: 2.5rem;
              border-radius: 50%;
              user-select: none;
            }
          }
        }
      }
    }
  }

  // Main Content
  .sidenav-main {
    @include mixins.default-transition;
    @include mixins.hide-scrollbar;
    flex: 1;
    background-color: var(--main-bg);
    border-radius: var(--border-radius-lg);
    padding: var(--spacing-lg);
    width: 100%;
    box-shadow: var(--shadow-level-0);
    overflow: auto;

    &.reports-view {
      padding: var(--spacing-lg) var(--spacing-lg) var(--spacing-xs)
        var(--spacing-lg);
    }
  }
}

@media (max-width: bp.$breakpoint-md) {
  .sidenav-content {
    @include mixins.flex-layout($direction: column, $gap: var(--spacing-xs));
    padding: var(--spacing-md);

    .main-toolbar {
      .sidenav-header {
        .title-container {
          .page-title {
            font-size: var(--font-size-2xl);
          }
        }
      }
    }

    .sidenav-main {
      padding: var(--spacing-md);
    }
  }
}
