<!--Page Container-->

<mat-sidenav-container class="sidenav-container" autosize="true">
  <!--Side Nav Bar (Left Side)-->
  <mat-sidenav
    #drawer
    class="sidenav"
    [class.sidenav-mobile]="isHandset$ | async"
    fixedInViewport
    [@slideInAnimation]
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'push' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <div class="side-toolbar">
      <img
        src="../../../../../assets/images/pup_taguig_logo.svg"
        alt="PUP Taguig Logo"
        class="side-toolbar-img" />
      <div class="header-name">
        <div class="university-name">PUP TAGUIG</div>
        <div class="system-name">FACULTY LOADING<br />& SCHEDULING</div>
      </div>
    </div>
    <mat-nav-list class="navbar-list">
      <div class="navbar-group-one">
        <!--Overview-->
        <a
          mat-list-item
          class="list-item"
          routerLink="/admin/overview"
          routerLinkActive="active-link">
          <span mat-symbol="dashboard" matListItemIcon></span>
          <span matListItemTitle>Overview</span>
        </a>
        <!--Faculty Preferences-->
        <a
          mat-list-item
          class="list-item"
          routerLink="/admin/manage-preferences"
          routerLinkActive="active-link">
          <span mat-symbol="groups" matListItemIcon></span>
          <span matListItemTitle>Faculty Preferences</span>
        </a>
        <!--Academic Years-->
        <a
          mat-list-item
          class="list-item"
          routerLink="/admin/academic-years"
          routerLinkActive="active-link">
          <span mat-symbol="date_range" matListItemIcon></span>
          <span matListItemTitle>Academic Years</span>
        </a>
        <!--Scheduling-->
        <a
          mat-list-item
          class="list-item"
          routerLink="/admin/scheduling"
          routerLinkActive="active-link">
          <span mat-symbol="schedule" matListItemIcon></span>
          <span matListItemTitle>Scheduling</span>
        </a>
        <!--Reports-->
        <a
          mat-list-item
          class="list-item"
          routerLink="/admin/reports"
          routerLinkActive="active-link">
          <span mat-symbol="bar_chart" matListItemIcon></span>
          <span matListItemTitle>Official Reports</span>
        </a>
      </div>

      <!-- Mobile Admin Controls -->
      @if (isHandset$ | async) {
      <div class="navbar-group-two">
        <div class="mobile-admin-settings">
          <!-- Theme Toggle -->
          <a mat-list-item class="list-item" (click)="toggleTheme()">
            <span
              [mat-symbol]="
                (themeService.isDarkTheme$ | async) ? 'dark_mode' : 'light_mode'
              "
              [ngClass]="
                (themeService.isDarkTheme$ | async) ? 'dark-icon' : 'light-icon'
              "
              matListItemIcon></span>
            <span
              matListItemTitle
              [ngClass]="
                (themeService.isDarkTheme$ | async) ? 'dark-icon' : 'light-icon'
              ">
              {{
                (themeService.isDarkTheme$ | async) ? 'Dark Mode' : 'Light Mode'
              }}
            </span>
          </a>
        </div>

        <!-- Logout -->
        <a mat-list-item class="list-item" (click)="logout()">
          <span mat-symbol="door_open" matListItemIcon></span>
          <span matListItemTitle>Logout</span>
        </a>

        <!-- Change Password -->
        <a mat-list-item class="list-item" (click)="openChangePasswordDialog()">
          <span mat-symbol="lock" matListItemIcon></span>
          <span matListItemTitle>Change Password</span>
        </a>

        <!-- Admin Account Info -->
        <div class="mobile-admin-account">
          <div class="profile-dropdown">
            <img
              src="../../../../../assets/images/default_admin_icon.png"
              alt="Profile Icon"
              class="profile-icon" />
          </div>
          <div class="account-text">
            <div class="account-name">{{ accountName }}</div>
            <div class="account-role">{{ accountRole }}istrator</div>
          </div>
        </div>
      </div>
      }
    </mat-nav-list>
  </mat-sidenav>

  <!--Side Nav Content (Right Side)-->
  <mat-sidenav-content class="sidenav-content">
    <!--Main Toolbar-->
    <mat-toolbar class="main-toolbar">
      <!--Displays toggle sidenav button-->
      @if (isHandset$ | async) {
      <div class="toggle-button-container">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          class="toggle-button">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </div>
      }

      <!--Actual sidenav content-->
      <header class="sidenav-header">
        <!--Page Title-->
        <div class="title-container">
          <h1 class="page-title">{{ pageTitle }}</h1>
        </div>

        <!-- Admin Panel - Only show when not in handset mode -->
        @if ((isHandset$ | async) === false) {
        <div class="admin-panel">
          <!--Admin Settings-->
          <div class="admin-settings">
            <!-- Night Mode Button -->
            <div
              class="panel-button theme"
              [matTooltip]="
                (themeService.isDarkTheme$ | async)
                  ? 'Switch to light mode'
                  : 'Switch to dark mode'
              "
              matRipple
              (click)="toggleTheme()">
              <span
                [mat-symbol]="
                  (themeService.isDarkTheme$ | async)
                    ? 'dark_mode'
                    : 'light_mode'
                "
                [ngClass]="
                  (themeService.isDarkTheme$ | async)
                    ? 'dark-icon'
                    : 'light-icon'
                "></span>
            </div>

            <!-- Logout Button -->
            <div
              class="panel-button logout"
              matTooltip="Log out"
              matRipple
              (click)="logout()">
              <span mat-symbol="door_open"></span>
            </div>

            <!-- Change Password Button -->
            <div
              class="panel-button change-password"
              matTooltip="Change Password"
              matRipple
              (click)="openChangePasswordDialog()">
              <span mat-symbol="lock"></span>
            </div>
          </div>

          <!-- Admin Account -->
          <div class="admin-account">
            <div class="account-text">
              <div class="account-name">{{ accountName }}</div>
              <div class="account-role">{{ accountRole }}istrator</div>
            </div>
            <div class="profile-dropdown">
              <img
                src="../../../../../assets/images/default_admin_icon.png"
                alt="Profile Icon"
                class="profile-icon" />
            </div>
          </div>
        </div>
        }
      </header>
    </mat-toolbar>
    <!-- Main Content -->
    <div class="sidenav-main" [ngClass]="{ 'reports-view': isReportsView }">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
