<mat-sidenav-container class="sidenav-container" autosize="true">
  <mat-sidenav
    #drawer
    class="sidenav"
    [class.sidenav-mobile]="isHandset$ | async"
    fixedInViewport
    [@slideInAnimation]
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'push' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <div class="side-toolbar">
      <img
        src="../../../../../assets/images/pup_taguig_logo.svg"
        alt="PUP Taguig Logo"
        class="side-toolbar-img" />
      <div class="header-name">
        <div class="university-name">PUP TAGUIG</div>
        <div class="system-name">FACULTY LOADING<br />& SCHEDULING</div>
      </div>
    </div>
    <mat-nav-list class="navbar-list">
      <div class="navbar-group-one">
        <a mat-list-item class="list-item" routerLink="/admin/overview" routerLinkActive="active-link">
          <span mat-symbol="dashboard" matListItemIcon></span>
          <span matListItemTitle>Overview</span>
        </a>
        <a mat-list-item class="list-item" routerLink="/admin/manage-preferences" routerLinkActive="active-link">
          <span mat-symbol="groups" matListItemIcon></span>
          <span matListItemTitle>Faculty Preferences</span>
        </a>
        <a mat-list-item class="list-item" routerLink="/admin/academic-years" routerLinkActive="active-link">
          <span mat-symbol="date_range" matListItemIcon></span>
          <span matListItemTitle>Academic Years</span>
        </a>
        <a mat-list-item class="list-item" routerLink="/admin/scheduling" routerLinkActive="active-link">
          <span mat-symbol="schedule" matListItemIcon></span>
          <span matListItemTitle>Scheduling</span>
        </a>
        <a mat-list-item class="list-item" routerLink="/admin/reports" routerLinkActive="active-link">
          <span mat-symbol="bar_chart" matListItemIcon></span>
          <span matListItemTitle>Official Reports</span>
        </a>
        <a mat-list-item class="list-item" routerLink="/admin/rescheduling" routerLinkActive="active-link">
          <span mat-symbol="edit_calendar" matListItemIcon></span>
          <span matListItemTitle>Rescheduling</span>
        </a>
      </div>

      @if (isHandset$ | async) {
      <div class="navbar-group-two">
        <div class="mobile-admin-settings">
          <a mat-list-item class="list-item" (click)="toggleTheme()">
            <span [mat-symbol]="(themeService.isDarkTheme$ | async) ? 'dark_mode' : 'light_mode'" matListItemIcon></span>
            <span matListItemTitle>{{ (themeService.isDarkTheme$ | async) ? 'Dark Mode' : 'Light Mode' }}</span>
          </a>
        </div>
        <a mat-list-item class="list-item" (click)="logout()">
          <span mat-symbol="door_open" matListItemIcon></span>
          <span matListItemTitle>Logout</span>
        </a>
        <a mat-list-item class="list-item" (click)="openChangePasswordDialog()">
          <span mat-symbol="lock" matListItemIcon></span>
          <span matListItemTitle>Change Password</span>
        </a>
        <div class="mobile-admin-account">
          <div class="profile-dropdown">
            <img src="../../../../../assets/images/default_admin_icon.png" alt="Profile Icon" class="profile-icon" />
          </div>
          <div class="account-text">
            <div class="account-name">{{ accountName }}</div>
            <div class="account-role">{{ accountRole }}istrator</div>
          </div>
        </div>
      </div>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar class="main-toolbar">
      @if (isHandset$ | async) {
      <div class="toggle-button-container">
        <button type="button" mat-icon-button (click)="drawer.toggle()" class="toggle-button">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      }
      <header class="sidenav-header">
        <div class="title-container">
          <h1 class="page-title">{{ pageTitle }}</h1>
        </div>
        @if ((isHandset$ | async) === false) {
        <div class="admin-panel">
          <div class="admin-settings">
            <div class="panel-button theme" matRipple (click)="toggleTheme()">
              <span [mat-symbol]="(themeService.isDarkTheme$ | async) ? 'dark_mode' : 'light_mode'"></span>
            </div>
            <div class="panel-button logout" matRipple (click)="logout()">
              <span mat-symbol="door_open"></span>
            </div>
            <div class="panel-button change-password" matRipple (click)="openChangePasswordDialog()">
              <span mat-symbol="lock"></span>
            </div>
          </div>
          <div class="admin-account">
            <div class="account-text">
              <div class="account-name">{{ accountName }}</div>
              <div class="account-role">{{ accountRole }}istrator</div>
            </div>
            <div class="profile-dropdown">
              <img src="../../../../../assets/images/default_admin_icon.png" alt="Profile Icon" class="profile-icon" />
            </div>
          </div>
        </div>
        }
      </header>
    </mat-toolbar>

    <div class="sidenav-main" [ngClass]="{ 'reports-view': isReportsView }">
      <router-outlet></router-outlet>
    </div>

    <footer class="admin-footer">
      <div class="footer-divider"></div>
      <div class="footer-content">
        <p class="footer-text">
          © 2026 PUP Taguig Faculty Loading & Scheduling System. All rights reserved.
        </p>
        <div class="privacy-links">
          <a href="https://www.pup.edu.ph/privacy/" target="_blank" class="privacyNotice">Privacy Policy</a>
          <span class="separator">|</span>
          <a href="https://www.pup.edu.ph/terms/" target="_blank" class="privacyNotice">Terms and Conditions</a>
        </div>
      </div>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>